.mesh-node-autocomplete-item-name {
    font-weight: 600;
}

.mesh-node-autocomplete-item-path {
    font-size: 0.85rem;
    color: var(--neutral-foreground-hint);
}

.mesh-node-autocomplete-item-type {
    font-size: 0.75rem;
    color: var(--accent-fill-rest);
    margin-top: 2px;
}
