@use "sass:list";
@use "sass:math";
@use "@open-smc/ui-kit/theme/variables" as *;

.userPic {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    text-transform: uppercase;
    background-color: list.nth($avatar-bgs, math.random(list.length($avatar-bgs)));
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}