@use "@open-smc/ui-kit/src/theme/variables" as *;
@use "@open-smc/portal/src/helpers" as *;

.p-dropdown {
    display: flex;
    align-items: center;
    height: 32px;
    margin-right: 24px;
    border: 1px solid $silver-sand;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $gunmetal;

    &:hover {
        border-color: $dark-silver;
    }
}

.p-dropdown-label {
    padding: 8px 12px;
}

.p-dropdown-trigger {
    width: 32px;
    height: 32px;
}

.pi-chevron-down:before {
    content: get-icon("git-branch");
}

.p-dropdown-panel {
    background: white;
    border: 1px solid rgba($brandeis-blue, 0.6);
    border-radius: 4px;
    padding: 12px 0;
    box-shadow: 0px 8px 24px rgba(41, 43, 54, 0.14), 0px 4px 4px rgba(41, 43, 54, 0.05);
}

.p-dropdown-item {
    padding: 8px 8px;

    &:hover {
        background-color: $bright-gray;
    }
}