@use "@open-smc/ui-kit/src/theme/variables" as *;

.wrapper {
    margin-top: 32px;
    margin-bottom: 24px;
}

.list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    text-decoration: none;
    background: $bright-gray;
    border-radius: 16px;
    font-family: $roboto-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $gunmetal;
    margin-right: 16px;

    i {
        font-size: 16px;
        margin-right: 4px;
    }

    &:global(.active) {
        background-color: $brandeis-blue;
        color: white;
    }

    &:hover {
        opacity: 0.8;
    }
}