@use "@open-smc/ui-kit/src/theme/variables" as *;

.paginator {
    justify-content: flex-start;
    margin-top: 24px;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $gunmetal;
}

.page {
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 4px;
    padding: 8px 12px;
    border: none;
    margin-right: 8px;
    cursor: pointer;
    font-family: $roboto-font;
    font-size: 14px;
    line-height: 16px;

    &:global(.p-highlight) {
        background-color: $brandeis-blue;
        cursor: unset;
        color: white;
    }
}

.prev,
.next {
    display: flex;
    height: 32px;
    background: $bright-gray;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    padding-top: 9px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    cursor: pointer;
    font-family: $roboto-font;
    font-size: 12px;
    line-height: 16px;

    i {
        font-size: 16px;
    }

    &:hover {
        box-shadow: 0px 0px 1px rgb(41 43 54 / 24%), 0px 1px 4px rgb(41 43 54 / 8%);
        color: $dark-silver;
    }
}

.next i {
    margin-left: 4px;
}

.prev {
    margin-right: 8px;

    & i {
        margin-right: 4px;
    }
}

