@using Microsoft.Extensions.Configuration
@using MeshWeaver.Blazor.Components

@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="@(Configuration["Styles:StylesheetName"]).styles.css" rel="stylesheet" />
    <link href="_content/MeshWeaver.Blazor/css/markdown.css" rel="stylesheet" />
    <link href="_content/MeshWeaver.Blazor/fonts.css" rel="stylesheet" />
    <link href="_content/MeshWeaver.Blazor/standard-page-layout.css" rel="stylesheet" />
    <link href="_content/Radzen.Blazor/css/material-base.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.ico" />
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
    <PageTitle>Loom Portal</PageTitle>
</head>

<body>
    <CascadingValue Name="ThemeMode" Value="@(Mode)">
        <ThemeSync @bind-Mode="@Mode" @rendermode="RenderMode.InteractiveServer" />
        <Routes @rendermode="RenderMode.InteractiveServer" />
    </CascadingValue>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="_content/MeshWeaver.Blazor.Portal/Layout/PortalLayoutBase.razor.js" type="module"></script>
</body>

</html>

@code {
    private DesignThemeModes Mode;
}
