@use "@open-smc/ui-kit/src/theme/variables" as *;

.notifications i {
    height: 32px;
    width: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: $gunmetal;
    position: relative;
    cursor: pointer;
}

.badge {
    position: absolute;
    background-color: $portland-orange;
    top: 2px;
    right: 2px;
}