@implements IDialogContentComponent<GlobalState>
@inject IMessageService MessageService

<div>

    <FluentStack>
        <FluentSpacer />
        <FluentAnchor Appearance="@Appearance.Hypertext" Href="" OnClick="@(e => MessageService.Clear(PortalConstants.MessagesNotificationCenter) )">
            Dismiss all
        </FluentAnchor>
    </FluentStack>

    <br />

    <FluentMessageBarProvider Section="@PortalConstants.MessagesNotificationCenter" MaxMessageCount="-1" Type="@MessageType.Notification" />
</div>

@code {
    [Parameter]
    public GlobalState Content { get; set; } = default!;
}
