@using MeshWeaver.Mesh
@using MeshWeaver.Blazor.Monaco
@using Microsoft.FluentUI.AspNetCore.Components

<div class="search-bar-container" style="width: 100%;">
    <MonacoEditorView @ref="monacoEditor"
                      @bind-Value="searchTerm"
                      OnSubmit="HandleSubmit"
                      Placeholder="@SearchPlaceholder"
                      Height="38px"
                      MaxHeight="38px"
                      ShowBorder="true"
                      CodeEditMode="false"
                      AsyncCompletionCallback="@GetCompletionsAsync" />
</div>
