@use "@open-smc/ui-kit/theme/variables" as *;

.p-tabview-nav {
    display: grid;
    column-gap: 40px;
    grid-template-columns: repeat(3, fit-content(50px));
    border-bottom: 2px solid $bright-gray;
}

.p-tabview {
    li {
        margin-right: 0;

        .p-tabview-nav-link {
            padding-bottom: 10px;
            font-weight: 600;
            transition: box-shadow 0.2s;
        }
    }
}

.p-tabview-nav .p-tabview-ink-bar {
    z-index: 1;
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: $brandeis-blue;
    transition: 400ms cubic-bezier(0.35, 0, 0.25, 1);
}
