@using MeshWeaver.ContentCollections
@inherits BlazorView<MeshWeaver.ContentCollections.ArticleCatalogControl, ArticleCatalogView>

<div class="articles-catalog-page">
    @if (ShowPicker && collectionOptions != null && collectionOptions.Any())
    {
        <FluentToolbar Class="toolbar">
            <FluentSelect Width="150px"
                         Placeholder="(all)"
                         @bind-Value="SelectedCollection"
                         Items="@collectionOptions"
                         OptionText="@(a => a.Text)"
                         OptionValue="@(a => a.Value)" />
        </FluentToolbar>
        <div class="toolbar-spacer"></div>
    }

    <FluentStack Orientation="Orientation.Vertical" Class="articles-catalog">
        @foreach (var article in Articles)
        {
            var url = GenerateArticleUrl(article);
            var catalogItem = new ArticleCatalogItemControl(
                article with { Content = string.Empty, PrerenderedHtml = string.Empty },
                url
            );
            <ArticleCatalogItemView ViewModel="@catalogItem" />
        }
    </FluentStack>
</div>


