@using Microsoft.AspNetCore.Components.Authorization

@inherits BlazorView<ArticleControl, ArticleView>


<div class="article-container">
    <ArticleHeaderDisplay Model="@ArticleModel"></ArticleHeaderDisplay>
</div>
<div class="article-content markdown-body">
    <MarkdownView ViewModel="@MarkdownControl" />
</div>

@code
{}
