
.article-card-link {
    width: 100%; /* Ensure the link takes full width */
    text-decoration: none;
    color: inherit;
    padding-bottom: 32px;
}

.article-card {
    width: 90%; /* Ensure the link takes full width */
    border: 1px solid var(--color-border-default); /* Use Primer CSS variable */
    box-shadow: 0 2px 4px var(--color-shadow-small); /* Use Primer CSS variable */
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column; /* Ensure vertical alignment */
    overflow: hidden; /* Prevent overflow */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: var(--color-canvas-default); /* Use Primer CSS variable */
}

    .article-card:hover {
        box-shadow: 0 4px 8px var(--color-shadow-medium); /* Use Primer CSS variable */
    }


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px; /* Reduced bottom margin */
    width: 100%; /* Ensure header takes full width */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

.content {
    display: flex;
    justify-content: space-between; /* Space between text and thumbnail */
    align-items: flex-start; /* Align items at the start */
    width: 100%; /* Ensure content takes full width */
}

.text {
    flex: 1; /* Take up remaining space */
}

.thumbnail {
    margin-left: 16px; /* Add some space between text and thumbnail */
}

.thumbnail img {
    width: 4cm;
    height: 4cm;
    object-fit: cover;
}

.author-info {
    display: flex;
    flex-wrap: wrap; /* Allow authors to wrap to the next line if needed */
    gap: 16px; /* Add more space between authors */
}

.author {
    display: flex;
    align-items: center;
}

.title {
    font-size: 16pt;
    font-weight: 600;
    margin-bottom: 8px;
}

.summary {
    font-size: 14pt !important;
    line-height: 1.5;
    color: var(--color-fg-muted);
}

    .summary ::deep p {
        font-size: 14pt !important; /* Ensure paragraphs inside summary inherit the font size */
        margin: 0; /* Remove default paragraph margins */
        line-height: 1.5 !important;
    }

    .summary ::deep a {
        font-size: 14pt !important; /* Ensure links inside summary inherit the font size */
    }

    .summary :global(p) {
        font-size: 14pt !important;
        margin: 0;
        line-height: 1.5 !important;
    }

    .summary :global(a) {
        font-size: 14pt !important;
    }

/* For small screens, reduce the article card width slightly to provide horizontal spacing */
@media (min-width: 800px) {
    .articles-catalog-page {
        padding: 16px;
    }
}
/* For small screens, reduce the article card width slightly to provide horizontal spacing */
@media (max-width: 799px) {
    .articles-catalog-page {
        padding: 0; 
    }
}