@page "/"
@using MeshWeaver.Blazor.Components

<PageTitle>Mesh Weaver</PageTitle>
@* <div class="splash-screen">
    <img src="images/SplashScreen.jpg" alt="Splash Screen Image">
</div>
 *@
<LayoutArea Address="Overview" Area="Doc" Id="Embedded/MeshWeaver.Overview/Readme.md" />

