@use "@open-smc/ui-kit/theme/variables" as *;

.item {
    font-family: $overpass-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $gunmetal;

    &:hover {
        background-color: rgba($bright-gray, 0.5);
    }

    a {
        padding: 8px 16px;
        color: inherit;
    }
}

.item :global .p-disabled {
    color: rgba($gunmetal, 0.33)
}