@using MeshWeaver.Layout
@using MeshWeaver.Blazor.Components
@using MeshWeaver.Blazor.Infrastructure
@using MeshWeaver.Messaging
@inject PortalApplication PortalApplication
<div class="navmenu" >
    <LayoutArea 
        Area="@NavMenuExtensions.NavMenu"
                Address="@PortalApplication.Hub.Address"
                ShowProgress="false"
    />
</div>

