@use "@open-smc/ui-kit/theme/variables" as *;

.content {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.wrapper {
    padding-top: 36px;
    padding-left: 24px;
    padding-right: 24px;
}

.overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 48px;
    background: linear-gradient(63.18deg, #0171ff 0%, #5bc0de 100%);
    color: white;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.15));
    margin: 0 auto;
    max-width: 1084px;
}

.name {
    font-family: $overpass-font;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    margin: 0;
}

.abstract {
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-top: 12px;

    &:empty {
        display: none;
    }
}

.column:first-child {
    max-width: 573px;
    margin-right: 16px;
}

.column:last-child {
    width: 304px;
}

.image {
    width: 100%;
    height: 158px;
    border: 8px solid white;
    object-fit: cover;
    display: block;
}

.cloneButton {
    color: $gunmetal;
    background: $white;
    margin-top: 24px;
    padding: 8px 16px;

    &:hover,
    &:active {
        color: $brandeis-blue;
    }
}
