@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="@(Configuration["Styles:StylesheetName"]).styles.css" rel="stylesheet" />
    <link href="_content/MeshWeaver.Blazor/css/markdown.css" rel="stylesheet" />
    <link href="_content/MeshWeaver.Blazor/fonts.css" rel="stylesheet" />
    <link href="_content/MeshWeaver.Blazor/standard-page-layout.css" rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.ico" />
    <HeadOutlet @rendermode="RenderMode.InteractiveServer"/>
    <PageTitle>Mesh Weaver</PageTitle>
</head>

<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <FluentDesignTheme StorageName="theme" @bind-Mode="@Mode"/>
    <CookiePolicy @rendermode="RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MeshWeaver.Portal.Shared.Web/js/app.js"></script>
</body>

</html>

@code {
    private DesignThemeModes Mode;
}