@use "@open-smc/ui-kit/theme/variables" as *;

.container {
    min-width: 346px;
    display: flex;
    font-family: $roboto-font;
    // padding-right: 16px;
    &:first-of-type .innerWrapper {
        border-top: 1px solid transparent;
    }

    &:global(.clickable) {
        cursor: pointer;
    }
}

.innerWrapper {
    border-top: 1px solid $bright-gray;
    width: 100%;
    padding: 8px 0;
    display: grid;
    grid-template-columns: 32px 1fr 73px;
    gap: 8px;
}

.userpic {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    background-color: $brandeis-blue;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    color: $white;
    border-radius: 50%;
    overflow: hidden;
}

.photo {
    width: 100%;
    height: 100%;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 16px;
}

.username {
    font-weight: 400;
    color: $dark-silver;
}

.name {
    font-weight: 700;
    color: $gunmetal;
}

.date {
    margin-left: auto;
    color: $dark-silver;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.colorBadge {
    width: 4px;
    min-height: 100%;
    margin-right: 12px;
}
