@use "@open-smc/ui-kit/theme/variables" as *;

.badge {
    height: 32px;
    border-radius: 4px;
    padding: 8px;
    font-family: $roboto-font;
    line-height: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
    background-color: var(--main-color);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
    color: $gunmetal;

    &:global(.disabled) {
        opacity: 0.33;
    }
}

.title {
    margin: 0;
    margin-right: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
}

.subtitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: var(--main-color);
}