@use "@open-smc/ui-kit/theme/variables" as *;

.theme {
    :global {
        .ag-theme-alpine {
            --ag-header-foreground-color: #292b36;
            --ag-header-background-color: #f4f4f4;
            --ag-odd-row-background-color: rgba(244, 244, 244, 0.4);
            --ag-row-hover-color: rgba(204, 227, 255, 0.2);
            --ag-column-hover-color: rgba(204, 227, 255, 0.2);
            font-family: $roboto-font;
            --ag-cell-horizontal-padding: 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;

            .ag-header-group-cell {
                font-weight: 600;
            }

            .ag-header {
                font-family: $overpass-font;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.24px;
                text-transform: uppercase;
            }
        }
    }
}
