@use "@open-smc/ui-kit/theme/variables" as *;

h1, h2, h3, h4, h5, h6 {
    font-family: $overpass-font;
    font-weight: 500;
    color: $gunmetal;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

h1 {
    font-size: 26px;
    line-height: 32px;
}

h2 {
    font-size: 22px;
    line-height: 24px;
}

h3 {
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.36px;
}

h4 {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
}

h5 {
    font-size: 16px;
    line-height: 1.5;
}

h6 {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.24px;
}

h1 + h2,
h1 + h3,
h1 + h4,
h1 + h5,
h1 + h6 {
    margin-top: -4px;
}

h2 + h3,
h2 + h4,
h2 + h5,
h2 + h6 {
    margin-top: -8px;
}

h3 + h4,
h3 + h5,
h3 + h6 {
    margin-top: -8px;
}

h4 + h5,
h4 + h6 {
    margin-top: -8px;
}

h5 + h6 {
    margin-top: -8px;
}

h6 + h6 {
    margin-top: -8px;
}

p {
    line-height: 1.43em;
}

p:first-of-type {
    margin-top: 0;
}

p:last-of-type,
p:only-child {
    margin-bottom: 0;
}

p:only-of-type {
    margin-bottom: 14px;
}
