@use "@open-smc/ui-kit/src/theme/variables" as *;

.container {
}

@mixin horizontal-panel {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

@mixin horizontal-panel-equal-cols {
    display: flex;
    flex-direction: row;
    gap: var(--globalColumnGap);
    align-items: center;

    > .stackItem {
        flex-basis: calc(100% / var(--columnNumber) - var(--globalColumnGap) * (var(--columnNumber) - 1));
        max-width: 50%;
    }
}

@mixin vertical-panel {
    display: flex;
    flex-direction: column;
    gap: var(--globalColumnGap);
}

@mixin layout-grid {
    display: grid;

    &[style*="columnCount"] {
        grid-template-columns: repeat(var(--columnCount), minmax(0, 1fr));
        gap: 32px 24px;
    }
}

.container:global(.skin-VerticalPanel) {
    @include vertical-panel;
}

.container:global(.skin-HorizontalPanel) {
    @include horizontal-panel;
}

.container:global(.skin-HorizontalPanelEqualCols) {
    @include horizontal-panel-equal-cols;
}

.container:global(.skin-GridLayout) {


    @include layout-grid;
}

.container:global(.skin-Toolbar) {
    @include horizontal-panel;

    .container {
        @include horizontal-panel
    }
}

.container:global(.skin-SideMenu) {
    @include vertical-panel;
    margin-top: 10px;
    align-items: center;
}

:global {
    .skin-ContextMenu {
        color: $gunmetal;
        display: flex;
        flex-direction: column;
        gap: 24px;
        // overflow-y: auto;
        height: 100%;

        h2,
        h3 {
            margin: 0;
            font-family: $overpass-font;
            font-weight: 600;
        }

        h2 {
            font-size: 22px;
            line-height: 32px;
        }

        h3 {
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
        }

        .heading {
            margin-bottom: 16px;
        }

        .p-label {
            margin: 8px 0;
            color: $dark-silver;
        }

        .skin-Link button span {
            text-transform: uppercase;
        }

        > .skin-HorizontalPanel {
            .sm-close,
            .sm-chevron-left {
                --size: 24px;
                font-size: var(--size);
                width: var(--size);
                height: var(--size);
            }
        }

        // TODO: temp solution, should be replace with flex-items styling (11/7/2023, akravets)
        > div:nth-child(2) {
            overflow-y: auto;
        }
    }

    .skin-Action {
        display: flex;
        gap: 8px;
        align-items: flex-start;

        > div:nth-child(2) {
            flex-grow: 1;
        }

        div:not([class]) {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            em {
                font-style: normal;
                color: $dark-silver;
            }
        }

        > div:last-child {
            flex-grow: 0;
            flex-shrink: 0;

            button {
                width: 100%;
            }
        }

        :global(.iconBox) {
            position: relative;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: var(--main-color);
                opacity: 0.2;
                border-radius: 4px;
                position: absolute;
            }

            i {
                font-size: 24px;
                height: 32px;
                justify-content: center;
                width: 32px;
            }
        }
    }
}

.container {
    &:global(.highlightNewAreas) {
        .stackItem {
            &:global(.isAdded) {
                animation: highlight 3s;
                animation-iteration-count: initial;
            }
        }
    }
}

@keyframes highlight {
    0% {
        background: lightyellow;
    }
    100% {
        background: none;
    }
}
