@use "@open-smc/ui-kit/theme/variables" as *;

$grayGradient: linear-gradient(90deg, rgba(41, 43, 54, 0.2) 0%, rgba(41, 43, 54, 0.2) 100%);
$whiteGradient: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);

@mixin button-basic {
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--main-color);
    outline: none;
    &:hover {
        opacity: 0.84;
    }
    &:active {
        background-image: $grayGradient;
        opacity: 1;
    }
}

.buttonBox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button {
    @include button-basic;
    border-radius: 4px 0 0 4px;

    i {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 16px;
        height: 16px;
        width: 16px;
    }

    &:active {
        .label {
            background-color: transparent;
        }
    }

    &:only-child {
        padding: 8px 16px;
        border-radius: 4px;
    }

    &:not(:only-child) {
        padding: 8px 12px 8px 16px;
    }

    &:disabled {
        opacity: 0.33;
        cursor: default;
    }
}

.iconOnly {
    .button {
        width: 32px;
    }
}

:global(.dark) {
    .button {
        color: $white;

        .label {
            color: $white;
        }
    }

    .button + .chevron {
        color: $white;
    }
}

:global(.light) {
    .button {
        color: $gunmetal;

        .label {
            color: $gunmetal;
        }
    }
}

.label {
    font-family: $roboto-font;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    line-height: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

i + .label {
    margin-left: 4px;
}

.button:disabled .label {
    cursor: default;
}

.chevron {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: transparent;
    border-left: 1px solid $white;
    background-color: var(--main-color);
    align-items: center;
    justify-content: center;
    border-radius: 0 4px 4px 0;
    outline: none;

    &:hover {
        opacity: 0.84;
    }

    &:disabled {
        opacity: 0.33;
        cursor: default;

        &:hover {
            border-color: rgba($silver-sand, 0.5);
        }
    }
}

.chevron:global(.rc-dropdown-open),
.chevron:active {
    background-image: $grayGradient;
    opacity: 1;
}

.button:hover + .chevron {
    opacity: 0.84;
}

.button:active + .chevron {
    background-image: $grayGradient;
    opacity: 1;
}

.overlay {
    width: 164px;
    background: white;
    border: 1px solid var(--main-color, $bright-gray);
    box-shadow: 0 8px 24px rgba(41, 43, 54, 0.14), 0 4px 4px rgba(41, 43, 54, 0.05);
    border-radius: 4px;
    padding: 8px 0;
    z-index: 10;
    min-height: unset;
    justify-content: flex-start;

    & .buttonBox .button {
        font-family: $roboto-font;
        border: none;
        width: 100%;
        justify-content: flex-start;
        border-radius: 0;
        background: $white;

        &:hover {
            background-color: rgba($gunmetal, 0.05);
            opacity: 1;
        }
    }

    & .buttonBox .button:only-child {
        padding: 8px 12px;
        border-right: none;
    }

    & .buttonBox {
        justify-content: flex-start;
    }

    & .button .label {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.24px;
        // text-transform: none;
        line-height: 16px;
        background-color: transparent;
    }
}

.buttonBox:global(.skin-LargeButton) {
    .button {
        border-radius: 4px;
        border: 1px solid var(--main-color, transparent);
        background: var(--main-color);
        padding: 7px 8px 7px 0;
        height: unset;
        width: 314px;
        justify-content: flex-start;

        i {
            font-size: 24px;
            height: 32px;
            justify-content: center;
            min-width: 56px;
        }

        .label {
            width: 100%;
            padding: 0 14px;
            justify-content: center;
            background-color: transparent;
            margin-left: 0;
            border-left: 1px solid var(--main-color, rgba($silver-sand, 0.5));
            background-image: $whiteGradient;
            background-repeat: no-repeat;
            background-size: 1px;
            background-position: top left;
            min-height: 32px;
            border-radius: unset;
        }
    }
}

.buttonBox:global(.skin-LargeIcon) {
    .button {
        align-items: center;
        border: 1px solid transparent;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        font-family: $roboto-font;
        font-size: 10px;
        font-weight: 600;
        justify-content: center;
        letter-spacing: 0.2px;
        line-height: 8px;
        padding: 6px;
        text-align: center;
        text-transform: uppercase;
        width: 64px;
        height: unset;
        min-height: 64px;
        gap: 6px;

        i {
            width: 24px;
            height: 24px;
            font-size: 24px;
        }

        .label {
            margin-left: 0;
            font-size: 10px;
            font-weight: 600;
            line-height: 1;
            letter-spacing: 0.2px
        }

        &:hover {
            opacity: 0.84;
        }

        &:active {
            background-image: $grayGradient;
            opacity: 1;
        }
    }
}

.buttonBox:global(.skin-Link) {
    display: block;

    .button {
        background: transparent;
        padding: 0;

        &:hover {
            text-decoration: underline;
        }
    }

    .label {
        color: var(--main-color);
        // text-transform: none;
    }
}
