@use "sass:map";
@use "@open-smc/ui-kit/theme/helpers" as *;
@use "@open-smc/ui-kit/theme/variables" as *;

@mixin size-s {
    @media (min-width: 768px) {
        width: 600px;
    }
}

@mixin size-m {
    @media (min-width: 1024px) {
        width: 800px;
    }
}

@mixin size-l {
    @media (min-width: 1024px) {
        width: 90vw;
    }
}

:global(.dialog-wrapper) {
    @include size-s;
}

:global(.dialog-wrapper.size-M) {
    @include size-m;
}

:global(.dialog-wrapper.size-L) {
    @include size-l;
}

// .modalWindow {
//     position: relative;
// }

.header {
    padding: 16px;
    border-bottom: 1px solid $bright-gray;

    h2 {
        font-family: $overpass-font;
        font-size: 22px;
        font-weight: 500;
        line-height: 24px;
        margin: 0;
    }
}

.main {
    font-family: $roboto-font;
    font-size: 14px;
    // font-style: normal;
    // font-weight: 400;
    line-height: 16px;
    padding: 24px 16px;
}

.footer {
    padding: 12px 16px;
    border-top: 1px solid $bright-gray;
}

.modalWindow {
    // span:global(.size-XL) {
    //     position: relative;
    // }

    :global(.messages) {
        h4 {
            margin: 0 0 8px;
        }

        p {
            margin: 8px 0 !important;
        }
    }
}
