@use "@open-smc/ui-kit/theme/variables" as *;

.message {
    color: $gunmetal;
    font-family: $roboto-font;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
}

.progress {
    white-space: pre;
}

:global(.rc-progress-line) {
    display: block;
    height: 2px;
    width: 100%;
}

:global(.rc-progress-line-path) {
    stroke: var(--main-color, $brandeis-blue);
}