@using Microsoft.JSInterop
@inherits BlazorView<GridControl, AgGrid>

<HeadContent>
    <link href="_content/MeshWeaver.Blazor.AgGrid/style.css" rel="stylesheet" />
</HeadContent>

<div @ref="element" class="ag-theme-alpine container" style="height: 500px; width: 100%;"></div>

@code
{
    ElementReference element;

    [Inject] private IJSRuntime JsRuntime { get; set; }
    private IJSObjectReference jsModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await JsRuntime.Import("index.mjs");

            await jsModule.InvokeVoidAsync("LicenseManager.setLicenseKey",
                Environment.GetEnvironmentVariable("AG_GRID_LICENSE_KEY"));
            

            if (jsModule is not null)
            {
                await jsModule.InvokeVoidAsync("renderGrid", id, element, Options);
            }
        }
    }

    protected override void BindData()
    {
        base.BindData();
        DataBind(ViewModel.Data, o => o.Options);
    }

    private readonly string id = Guid.NewGuid().ToString();

    private object Options { get; set; }

    public override async ValueTask DisposeAsync()
    {
        if (jsModule is not null)
        {
            try
            {
                await jsModule.DisposeAsync();
            }
            catch (JSDisconnectedException)
            {
            }
        }   
    }
}