@page "/"


<h1>MeshNodes</h1>

Here comes a list of <a href="/app/MeshBrowser/dev/Catalog">Mesh nodes</a>.

<h2>Demo</h2>
Link to the <a href="/app/Demo/dev/Counter">Counter</a>

<h2>Northwind</h2>
We need to see where this text should come from ==> need to put is in Northwind module.
Then link to the <a href="/app/Northwind/dev/Dashboard">Dashboard</a>

@code {

}
