@use "@open-smc/ui-kit/theme/variables" as *;

.access {
    width: 80px;
    padding: 4px 16px 4px 12px;
    background: $bright-gray;
    color: $gunmetal;

    &:hover {
        opacity: 0.8;
    }

    :global(.icon) {
        font-size: 16px;
        margin-right: 4px;
    }

    :global(.label) {
        flex-grow: 0;
        flex-shrink: 0;
    }

    &:disabled {
        opacity: 0.33;
    }
}

.deny :global(.icon) {
    color: $portland-orange;
}

.allow :global(.icon) {
    color: $malachite;
}