@use "@open-smc/ui-kit/theme/variables" as *;

.title {
    margin: 0;
    font-family: $overpass-font;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: $gunmetal;
}

.user {
    margin-top: 24px;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $dark-silver;
}

.userName {
    font-weight: 500;
}

.label {
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $dark-silver;
    opacity: 0.7;
}

.select {
    margin-top: 8px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 16px;

    button:last-of-type {
        margin-left: 16px;
    }
}

.fieldGroup {
    margin-top: 24px;
}