@use "@open-smc/ui-kit/theme/variables" as *;

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 56px;
    max-width: 466px;
}

.item {
    margin-bottom: 40px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.switchContainer {
    display: flex;
    flex-direction: row;

    button {
        margin-right: 8px;
    }
}

.buttonsContainer {
    display: flex;
    flex-direction: row;

    & > button {
        margin-right: 16px;
    }

    & > button:last-child {
        margin-right: 0;
    }
}

.title {
    margin: 0;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $gunmetal;
}

.description {
    margin: 0;
    margin-top: 12px;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $dark-silver;
    margin-left: 38px;
}