@use "@open-smc/ui-kit/theme/variables" as *;

button.addButton {
    margin-right: 0;

    &:global.active {
        background-color: rgba($brandeis-blue, 0.5);
    }
}

.container {
    margin-top: 40px;
    max-width: 974px;
}

.userTooltip :global .rc-tooltip-arrow {
    display: none;
}

.usersLink,
.title {
    color: $gunmetal;
    text-decoration: none;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.memberships {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $gunmetal;
    margin: 0;
    display: flex;
    align-items: flex-start;
}

.membershipsNumber {
    display: inline-flex;
    padding: 0 5px;
    height: 16px;
    background: $gunmetal;
    color: white;
    font-family: $roboto-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    border-radius: 999px;
}

.membershipsContainer {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;

    & > button {
        margin-right: 16px;
    }

    & > button:last-child {
        margin-right: 0;
    }
}