@use "@open-smc/ui-kit/theme/variables" as *;

.wrapper {
    display: grid;
    grid-template-rows: 1fr 40px;
    height: 100vh;
}

.pageNotFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/page-not-found.svg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -24px !important;
    margin-bottom: -24px !important;

    .content {
        min-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
    }

    .title {
        font-size: 96px;
        font-family: $roboto-font;
        font-weight: 500;
        color: $gunmetal;
        margin: 26px 0 16px;
    }

    .description {
        margin-bottom: 40px;
        color: $dark-silver;
        font-family: $roboto-font;

        p {
            margin: 0;
            font-size: 24px;
            line-height: 1.5;
        }
    }

    button {
        margin-top: auto;
        min-width: 150px;
    }
}

.projectNotFound,
.projectAccessDenied,
.projectDefaultError,
.errorContainer,
.envNotFound,
.envAccessDenied,
.envDefaultError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    height: 100%;

    .description {
        color: $dark-silver;
        font-size: 14px;
        line-height: 16px;
        max-width: 32ch;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center top;
        font-family: $roboto-font;
    }

    button {
        margin: 16px auto 0;
        min-width: 150px;
    }
}

.errorContainer {
    height: 100%;
}

.projectNotFound,
.envNotFound {
    .description {
        background-image: url("../images/project-not-found.svg");
        padding-top: 208px;
    }
}

.projectAccessDenied,
.envAccessDenied {
    .description {
        background-image: url("../images/project-access-denied.svg");
        padding-top: 208px;
    }
}

.projectDefaultError,
.envDefaultError {
    .description {
        background-image: url("../images/failed-to-load.svg");
        padding-top: 208px;
    }
}

.fileNotFound {
    .description {
        background-image: url("../images/file-not-found.svg");
        padding-top: 208px;
    }
}

.fileAccessDenied,
.projectOverviewAccessDenied {
    .description {
        background-image: url("../images/file-access-denied.svg");
        padding-top: 208px;
    }
}

.fileDefaultError,
.projectOverviewDefaultError {
    .description {
        background-image: url("../images/file-default-error.svg");
        padding-top: 208px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sideContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .description {
        color: rgba($gunmetal, 0.4);
        text-align: center;
        max-width: 16ch;
        margin-left: auto;
        margin-right: auto;
    }
}