@use "@open-smc/ui-kit/theme/variables" as *;

.settings {
    max-width: 1129px;
    margin-right: 116px;
    padding-top: 48px;
    margin-bottom: 48px;
    margin-left: 264px;

    & :global {
        .ag-theme-alpine {
            --ag-header-background-color: #f4f4f4;
            --ag-foreground-color: #292b36;
            --ag-row-hover-color: rgba(204, 227, 255, 0.2);
            --ag-font-size: 12px;
            --ag-line-height: 16px;
            --ag-font-family: 'Roboto';
            --ag-odd-row-background-color: transparent;
            --ag-alpine-active-color: transparent;
            --ag-borders-row: solid 1px;
            --ag-row-border-color: #ededed;
            --ag-secondary-border-color: #ededed;
            --ag-range-selection-border-color: transparent;

            .ag-header {
                border-bottom: 2px solid $bright-gray;
                font-family: $overpass-font;
                font-weight: 600;
            }

            .align-right .ag-header-cell-label {
                justify-content: flex-end;
            }

            .align-end {
                align-items: flex-end;
                justify-content: flex-end;
            }

            .ag-header-cell {
                padding-left: 16px;
                padding-right: 16px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.02em;
            }

            .ag-header-cell {
                padding-left: 0;
                padding-right: 16px;

                &:first-child {
                    padding-left: 16px;
                }
            }

            .ag-cell {
                padding-left: 0;

                &:first-child {
                    padding-left: 16px;
                }
            }

            .inherited .ag-cell {
                opacity: 0.5;
            }

            .inherited .ag-cell:last-child {
                opacity: 1;
            }

            .ag-root-wrapper {
                border: none;
            }

            .rc-select {
                margin: 0 16px;
            }

            .ag-overlay-no-rows-center {
                font-family: $overpass-font;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: $gunmetal;
            }
        }
    }
}

:global .sideMenuOpen .settings {
    margin-left: 124px;
}

.title {
    font-family: $overpass-font;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: $dark-silver;
    margin-top: 0;
    margin-bottom: 38px;

    span {
        color: $gunmetal;
    }
}

.formContainer {
    width: 312px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    position: relative;
}

.container {
    display: flex;
}

.create {
    width: fit-content;
    border: none;
    background-color: $brandeis-blue;
    font-family: $roboto-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
    height: 32px;
    border-radius: 4px;
    padding: 8px 24px;
    margin-right: 24px;

    &:hover {
        background-color: $blueberry;
        box-shadow: 0 0 1px rgba(41, 43, 54, 0.24), 0 1px 4px rgba(41, 43, 54, 0.08);

        &:global(.disabled) {
            background-color: $bright-gray;
        }
    }
}

:global(.disabled) {
    background-color: $bright-gray;
    color: $gunmetal;
    opacity: 0.33;
}

.label {
    font-family: $overpass-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $dark-silver;
    opacity: 0.7;
    margin-bottom: 6px;
    display: inherit;

    i {
        white-space: pre;
    }
}

.spanHidden {
    display: none;
}

.spanText {
    display: block;
}

.error {
    color: $portland-orange;
    position: relative;
    top: 2px;
}

.editButton {
    text-decoration-line: underline;
    color: $brandeis-blue;
    background: $white;

    &:hover {
        color: $blueberry;
    }
}

.description {
    resize: vertical;
    min-height: 66px;
    background: rgba($bright-gray, 0.2);
    border: 1px solid $silver-sand;
    border-radius: 4px;
    padding: 8px 12px;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $gunmetal;
    outline: none;

    &:hover {
        border-color: $dark-silver;
    }

    &:active,
    &:focus {
        border-color: $brandeis-blue;
        background-color: white;
    }

    &:disabled {
        opacity: 0.33;
    }

    &:hover {
        border-color: $silver-sand;
    }
}

.thumbnail {
    width: 100%;

    i {
        cursor: pointer;
        right: 7px;
        z-index: 1;
        color: $silver-sand;

        &:hover {
            color: $gunmetal;
        }

        &:active {
            color: $brandeis-blue;
        }
    }
}

input.hasControl {
    padding-right: 28px;
}

.thumbnail:global(.disabled) {
    i {
        &:hover {
            color: $silver-sand;
            cursor: default;
        }

        &:active {
            color: $silver-sand;
        }
    }
}

.thumbnailPreview {
    margin-top: 16px;
    position: relative;
    width: 312px;
    height: 194px;
    box-shadow: 0 0 0 1px $silver-sand;
    border-radius: 3px;
    overflow: hidden;
    display: block;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

img[src*="/placeholder.jpg"] {
    opacity: 50%;
}

.thumbnailPreviewValidating {
    display: none;
}

.fieldHorizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 24px;

    label {
        margin-bottom: 0;
        margin-right: 4px;
        padding-top: 3px;
    }

    input {
        width: 100%;
    }
}

.idWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    & :global .progress-spinner {
        margin: 0;
    }
}

.idBox {
    display: flex;
    position: relative;

    i {
        color: $malachite;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 8px;
        right: 8px;
    }
}

.retry {
    width: 32px;
    height: 32px;
    font-size: 16px;
    background: $bright-gray;
    margin-left: 8px;

    &:hover {
        color: $dark-silver;
        box-shadow: 0px 0px 1px rgba(41, 43, 54, 0.24), 0px 1px 4px rgba(41, 43, 54, 0.08);
    }
}

.fieldText {
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $gunmetal;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editMode {
    flex-direction: column;
    align-items: inherit;

    label {
        margin-bottom: 6px;
    }
}

.idReadOnly {
    display: flex;
}

.dropdown {
    background: rgba($bright-gray, 0.2);
    margin: 0;
    width: 100%;

    span:before {
        color: $dark-silver;
    }

    &:active,
    &:focus {
        border-color: $brandeis-blue;
        background-color: white;
    }

    &:global(.p-inputwrapper-focus) {
        border-color: $brandeis-blue;
        background-color: white;
    }
}

.container {
    display: flex;
}

.cancel {
    font-family: $roboto-font;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $dark-silver;
    border: none;
    background: white;
    padding: 0;

    &:global > .p-button-icon {
        margin-right: 2px;
        font-size: 16px;
    }

    &:hover {
        color: $brandeis-blue;
    }
}

.sizeLabel {
    margin-top: 16px;
    font-family: $overpass-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $dark-silver;
    opacity: 0.7;
}

.error {
    color: $portland-orange;
    font-family: $overpass-font;
    font-size: 16px;
    line-height: 18px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.errorMessage {
    color: $portland-orange;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    top: 56px;
}

.errorMessageId {
    margin-top: 2px;
    top: 58px;
}

.tierName {
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $gunmetal;
}

:global(.inherited) {
    .tierName {
        opacity: 0.33;
    }
}

.innerContainer {
    display: flex;
    flex-direction: column;
}