.chat-container {
    position: sticky;
    bottom: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
    border-top-width: 1px;
    background-color: var(--neutral-layer-1);
    border-color: var(--neutral-stroke-rest);
}