@using Microsoft.JSInterop
@inherits BlazorView<MeshWeaver.Charting.ChartControl, ChartView>

<div class="chart-container">
    <canvas @ref="Element" class="@Class"></canvas>
</div>

@code
{
    ElementReference Element;
    private object? Options;

    [Inject] private IJSRuntime JsRuntime { get; set; } = null!;
    private IJSObjectReference? JsModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                JsModule ??= await JsRuntime.InvokeAsync<IJSObjectReference>("import",
                "./_content/MeshWeaver.Blazor.ChartJs/ChartView.razor.js");
            }

            if (JsModule is not null)
            {
                await JsModule.InvokeVoidAsync("renderChart", Element, Options);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error rendering chart: {ex.Message}");
        }
    }
    protected override void BindData()
    {
        base.BindData();
        DataBind(ViewModel.Data, o => o.Options);
    }
}
