@inherits BlazorView<HtmlControl, HtmlView>

<div>@(@Html)</div>


@code
{
    MarkupString Html { get; set; }

    protected override void BindData()
    {
        base.BindData();
        DataBind(ViewModel.Data, h => h.Html, o => o is null ? default : new(o.ToString()!));
    }
}
