@inherits BlazorView<HtmlControl>

<div>@(@Html)</div>


@code
{
    MarkupString Html { get; set; }

    protected override void BindData()
    {
        base.BindData();
        DataBind<string>(ViewModel.Data, h => Html = (MarkupString)h);
    }
}
