@using Markdig
@using Microsoft.JSInterop
@using MeshWeaver.Layout.Markdown
@inherits BlazorView<MarkdownControl, MarkdownView>
@inject IJSRuntime JsRuntime;

<HeadContent>
    <link href="_content/MeshWeaver.Blazor/node_modules/highlight.js/styles/default.min.css" rel="stylesheet" />
</HeadContent>

<div @ref="element" class="markdown">
    @if(Html != null)
    {
        @((MarkupString)Html) 
    }

    @foreach (var component in LayoutAreaComponents)
    {
        <div id="@(ComponentContainerId(component.Id.ToString()))" style="display:none;">
            <LayoutArea ViewModel="@component" Area="@SubArea(component.Id.ToString())"/>
         </div>
    }
</div>
@code 
{
    private ElementReference element;
    private IJSObjectReference htmlUtils;
    private IJSObjectReference highlight;
    private bool markdownChanged;

    private IReadOnlyList<LayoutAreaControl> LayoutAreaComponents { get; set; } = [];
    private string Html { get; set; }
    protected override void BindData()
    {
        base.BindData();
        RenderMarkdown();
    }

    private void RenderMarkdown()
    {
        AddBinding(Convert<string>(ViewModel.Data).Subscribe(
            markdown => InvokeAsync(() =>
            {
                var layoutAreaExtension = new LayoutAreaMarkdownExtension(Stream.Hub);
                var pipeline = new MarkdownPipelineBuilder()
                    .UseAdvancedExtensions()
                    .UseEmojiAndSmiley()
                    .Use(layoutAreaExtension)
                    .Build();
                var newHtml = Markdown.ToHtml(markdown, pipeline);
                var newLayoutComponents =
                    layoutAreaExtension
                        .MarkdownParser
                        .Areas
                        .Select(component => new LayoutAreaControl(Stream.Owner, component.Reference) { Id = component.DivId })
                        .ToArray();
                if (newHtml == Html && LayoutAreaComponents.SequenceEqual(newLayoutComponents))
                    return;
                Html = newHtml;
                LayoutAreaComponents = newLayoutComponents;
                markdownChanged = true;
                RequestStateChange();
            }))
        );
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            htmlUtils = await JsRuntime.Import("htmlUtils.js");
            highlight = await JsRuntime.Import("highlight.js");
        }

        if (firstRender || markdownChanged)
        {
            markdownChanged = false;

            foreach (var component in LayoutAreaComponents)
            {
                await htmlUtils.InvokeVoidAsync("moveElementContents", ComponentContainerId(component.Id.ToString()), component.Id.ToString());
            }

            await highlight.InvokeVoidAsync("highlightCode", element);
        }
    }

    private string ComponentContainerId(string id) => $"component-container-{id}";
}