@using Markdig
@using Microsoft.JSInterop
@using MeshWeaver.Layout.Markdown
@inherits BlazorView<MarkdownControl, MarkdownView>
@inject IJSRuntime JsRuntime;
<div class="markdown">
@if(Html != null)
{
    @((MarkupString)Html) 
}


@foreach (var component in LayoutAreaComponents)
{
    <div id="@(ComponentContainerId(component.Id.ToString()))" style="display:none;">
        <LayoutArea ViewModel="@component" Area="@SubArea(component.Id.ToString())"/>
     </div>
}
</div>
@code 
{
    private IReadOnlyList<LayoutAreaControl> LayoutAreaComponents { get; set; } = [];
    private string Html { get; set; }
    protected override void BindData()
    {
        base.BindData();
        RenderMarkdown();
    }

    private void RenderMarkdown()
    {
        AddBinding(Convert<string>(ViewModel.Data).Subscribe(
            markdown => InvokeAsync(() =>
            {
                var layoutAreaExtension = new LayoutAreaMarkdownExtension(Stream.Hub);
                var pipeline = new MarkdownPipelineBuilder()
                    .UseAdvancedExtensions()
                    .Use(layoutAreaExtension)
                    .Build();
                var newHtml = Markdown.ToHtml(markdown, pipeline);
                var newLayoutComponents =
                    layoutAreaExtension
                        .MarkdownParser
                        .Areas
                        .Select(component => new LayoutAreaControl(Stream.Owner, component.Reference) { Id = component.DivId })
                        .ToArray();
                if (newHtml == Html && LayoutAreaComponents.SequenceEqual(newLayoutComponents))
                    return;
                Html = newHtml;
                LayoutAreaComponents = newLayoutComponents;
                RequestStateChange();
            }))
        );
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.Import("basicBlazorInterop.js");

            foreach (var component in LayoutAreaComponents)
            {
                await JsRuntime.InvokeVoidAsync("interop.moveComponentToTarget", ComponentContainerId(component.Id.ToString()), component.Id.ToString());
            }
        }
    }

    private string ComponentContainerId(string id) => $"component-container-{id}";
}