@inherits BlazorView<MenuItemControl, MenuItemView>
<div class="menu-item">
    <FluentMenuItem OnClick="OnClick">@Title</FluentMenuItem>
</div>
@code
{
    private string Title { get; set; }
    protected override void BindData()
    {
        base.BindData();
        if (ViewModel != null)
        {
            DataBind(ViewModel.Title, x => x.Title);
        }

    }

}
