@mixin icon-size {
    i {
        font-size: var(--font-size, 12px);
        height: var(--size, 16px);
        width: var(--size, 16px);
        justify-content: center;
    }
}

.iconBox {
    display: inline-flex;


    &:global(.clickable) {
        cursor: pointer;
    }

    i {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border: transparent;
        color: var(--main-color);
        outline: none;
    }

    @include icon-size;

    &:global(.size-S) {
        --font-size: 12px;
        --size: 16px;
    }

    &:global(.size-M) {
        --font-size: 16px;
        --size: 24px;
    }

    &:global(.size-L) {
        --font-size: 24px;
        --size: 32px;
    }

    &:global(.size-XL) {
        --font-size: 32px;
        --size: 48px;
    }

    &:global(.size-XXL) {
        --font-size: 64px;
        --size: 104px;
    }
}

.iconBg {
    background-color: var(--main-color, transparent);
    background-image: linear-gradient(rgba(white, 0.8) 0%, rgba(white, 0.8) 100%);
}


.iconBox:global(.icon-rounded) {
    border-radius: var(--global-radius, 4px);
}

.iconBox:global(.icon-circle) {
    border-radius: 50%;
}
