@using OpenSmc.Application
@using OpenSmc.Layout

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" />
    </label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <LayoutAreaView Address="@Address" Reference="@Reference"/>
    </nav>
</div>

@code {
    private object Address => new ApplicationAddress("Northwind", "dev");
    private LayoutAreaReference Reference => new("NavigationMenu");
}