@using OpenSmc.Application
@using OpenSmc.Layout

<div class="navmenu">
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <LayoutArea Address="@Address" Reference="@Reference"/>
    </nav>
</div>

@code {
    private object Address { get; } = new ApplicationAddress("Northwind", "dev");
    private LayoutAreaReference Reference { get; } = new("DomainMenu");
}