@use "sass:color";
@use "@open-smc/ui-kit/theme/variables" as *;

.search {
    position: relative;
    margin-left: auto;
    min-width: 304px;
    padding-left: 16px;
}

.searchInput {
    padding: 8px 40px 8px 12px;
    border-radius: 4px;
    border: 1px solid $silver-sand;
    color: $gunmetal;
    display: block;
    width: 100%;
    font-family: $roboto-font;
    background-color: $white;

    &:focus,
    &:focus-visible {
        border: 1px solid $sky-blue;
        outline: 1px solid $sky-blue;

        + button {
            color: $blueberry;
            border-left-color: $sky-blue;
        }
    }

    &::placeholder {
        color: $dark-silver;
    }
}

.searchButton {
    border: none;
    top: 1px;
    right: 1px;
    bottom: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    min-width: 32px;
    position: absolute;
    font-size: 24px;
    border-left: 1px solid $silver-sand;
    color: $gunmetal;
    background-color: $white;
}