@use "../theme/variables" as *;

.rc-switch {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 29px;
    height: 16px;
    line-height: 16px;
    padding: 0;
    vertical-align: middle;
    border-radius: 16px;
    border: 1px solid $silver-sand;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    overflow: hidden;
}

.rc-switch-checked {
    border: 1px solid $brandeis-blue;
    background-color: $brandeis-blue;
}

.rc-switch.rc-switch-checked {
    &:hover {
        background-color: $blueberry;
        border-color: $blueberry;
    }
}

.rc-switch-checked.rc-switch-disabled {
    background: rgba($brandeis-blue, 0.33);
    border: 1px solid transparent;
    cursor: unset;

    &:after {
        background-color: white;
    }

    &:hover {
        background-color: rgba($brandeis-blue, 0.33);
        border-color: transparent;
    }
}

.rc-switch:after {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1px;
    top: 1px;
    border-radius: 50% 50%;
    background-color: $silver-sand;
    content: " ";
    cursor: pointer;
    transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    animation-duration: 0.3s;
    animation-name: rcSwitchOff;
}

.rc-switch:hover {
    background-color: rgba($bright-gray, 0.5);
}

.rc-switch-checked:after {
    left: 14px;
    background-color: white;
}

.rc-switch-disabled {
    background: rgba($bright-gray, 0.33);
    border: 1px solid rgba($silver-sand, 0.33);
    cursor: unset;

    &:hover {
        background-color: rgba($bright-gray, 0.33);
        cursor: default;
    }
}

.rc-switch-disabled:after {
    background: rgba($silver-sand, 0.33);
    animation-name: unset;
    cursor: default;
}

