@use "../theme/variables" as *;

.inputGroup {
    position: relative;
    flex-grow: 1;
    background-color: white;
    border-radius: 4px;
}

:global(.rc-input),
:global(.rc-input-number-input) {
    padding: 8px 12px;
}

:global(input::-webkit-outer-spin-button),
:global(input::-webkit-inner-spin-button) {
    -webkit-appearance: none;
    margin: 0;
}

.input {
    height: 32px;
    width: 100%;
    background: rgba($bright-gray, 0.2);
    border: 1px solid $silver-sand;
    border-radius: 4px;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $gunmetal;
    outline: none;

    input {
        border: none;
        background-color: transparent;
        outline: none;
        width: 100%;
    }

    &:hover {
        border-color: $dark-silver;
    }

    &:active,
    &:focus {
        border-color: $brandeis-blue;
        background-color: white;
    }
}

.input:global(.rc-input-number-disabled) {
    border: 1px solid rgba($silver-sand, 0.33);

    &:hover {
        border: 1px solid rgba($silver-sand, 0.33);
    }

    &:active {
        background: rgba($bright-gray, 0.2);
    }
}

:global(.rc-input-number-focused) {
    border-color: $brandeis-blue;
    background-color: white;

    &:hover {
        border-color: $brandeis-blue;
        background-color: white;
    }
}

.invalid {
    border: 1px solid $light-salmon;
    background-color: rgba($light-salmon, 0.2);
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.create:global(:disabled) .refresh {
    animation: spinner .8s ease infinite;
}

.spinner {
    position: absolute;
    top: 8px;
    right: 8px;
}

.check,
.invalid {
    padding-right: 28px;
}

.inputGroup :global .p-inputnumber {
    width: 100%;
}

:global(.rc-input-number-disabled .rc-input-number-input) {
    color: rgba($gunmetal, 0.3);
}