// Overpass
@font-face {
    font-family: "overpass";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Overpass-Regular.woff2") format("woff2");
}

// @font-face {
//     font-family: "overpass";
//     font-style: italic;
//     font-weight: 400;
//     font-display: swap;
//     src: url("./fonts/Overpass-Italic.woff2") format("woff2");
// }
@font-face {
    font-family: "overpass";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./fonts/Overpass-SemiBold.woff2") format("woff2");
}

// @font-face {
//     font-family: "overpass";
//     font-style: normal;
//     font-weight: 700;
//     font-display: swap;
//     src: url("./fonts/Overpass-Bold.woff2") format("woff2");
// }
// Roboto
@font-face {
    font-family: "roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Roboto-Regular.woff2") format("woff2");
}

// @font-face {
//     font-family: "roboto";
//     font-style: italic;
//     font-weight: 400;
//     font-display: swap;
//     src: url("./fonts/Roboto-Italic.woff2") format("woff2");   
// }
@font-face {
    font-family: "roboto";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./fonts/Roboto-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/Roboto-Bold.woff2") format("woff2");
}

// Icons
@font-face {
    font-family: "sm-icons";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/sm-icons/fonts/sm-icons.woff") format("woff");
}
