@use "@open-smc/ui-kit/src/theme/variables" as *;

@mixin list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.multiselectContainer {
    // width: 712px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    // height: 100%;
}

.footer {
    display: flex;
    margin-top: 8px;
}

.resetAllButton {
    margin-left: auto;
}

.list {
    @include list-reset;
}

.listContainer {
    min-width: 500px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 16px;
    grid-template-rows: minmax(0, 100%);
    height: 100%;
}

.categoryList {
    border-right: 1px solid $bright-gray;
    overflow-y: auto;
}

.categoryValues {
    display: flex;
    flex-direction: column;
}

.categoryItem {
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 8px;

    &:global(.active) {
        background-color: $popsicle-blue-light;

        .counter {
            background-color: $brandeis-blue;
        }
    }
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // max-width: 160px;
    flex-grow: 1;
}

.counter {
    padding: 0 5px;
    background: $dark-silver;
    border-radius: 249px;
    height: 16px;
    color: $white;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
}

.valuesList {
    margin-top: 16px;
    overflow-y: auto;
}

.valuesItem {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $gunmetal;
    background-color: $bright-gray;
    border-radius: 24px;
    padding: 4px 8px;
    margin-bottom: 4px;
    width: fit-content;
    max-width: 245px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover {
        background-color: rgba($bright-gray, 0.8)
    }

    &:global(.selected) {
        color: rgba($gunmetal, 0.3);

        &:hover {
            background-color: $bright-gray;
            cursor: default;
        }
    }
}

.resetAll {
    margin-left: auto;
    color: $portland-orange;
    background-color: transparent;
    gap: 4px;

    &:hover {
        opacity: 0.8;
    }
}

.switch {
    margin-top: 12px;
    display: flex;
    gap: 8px;

    span {
        line-height: 18px;
    }

    [disabled] + span {
        opacity: 0.7;
    }
}

.categoryElement {
    --size: 16px;
    display: inline-grid;
    gap: 8px;
    grid-template-columns: var(--size) auto;
}
