@use "@open-smc/ui-kit/src/theme/variables" as *;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    background-color: white;
}

body {
    margin: 0;
    font-family: $overpass-font;
    box-sizing: border-box;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    color: $gunmetal;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// block-ui overlay, copy-pasted from primereact/resources/themes/lara-light-indigo/theme.css
.p-component-overlay {
    background-color: rgba(black, 0.3);
    transition-duration: 0.2s;
}

.p-blockui {
    z-index: 1100;
}

.p-blockui.p-component-overlay {
    box-shadow: 0 0 0 16px rgba(black, 0.3);
}

.p-component-overlay-enter {
    animation: p-component-overlay-enter-animation 150ms forwards;
}

.p-component-overlay-leave {
    animation: p-component-overlay-leave-animation 150ms forwards;
}

@keyframes p-component-overlay-enter-animation {
    from {
        background-color: transparent;
        box-shadow: 0 0 0 16px rgba(black, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 0 16px rgba(black, 0.2);
    }
}

@keyframes p-component-overlay-leave-animation {
    from {
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 0 16px rgba(black, 0.2);
    }
    to {
        background-color: transparent;
        box-shadow: 0 0 0 16px rgba(black, 0);
    }
}

//block-ui end
// Scrollbar
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    background-clip: padding-box;
    -webkit-border-radius: 12px;
    background-color: $silver-sand;

    &:hover {
        background-color: $dark-silver;
    }
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

// scrollbar in Firefox
* {
    scrollbar-width: thin;
    scrollbar-color: $silver-sand white;
}

.progress-spinner-circle {
    stroke: $brandeis-blue;
}

@keyframes progress-spinner-color {
    100%,
    0% {
        stroke: $brandeis-blue;
    }
}

// block ui
body {
    overflow: hidden;
}

.App > .p-blockui-container {
    display: grid;
    grid-template-rows: 1fr 40px;
    height: 100vh;
}

.p-tooltip .p-tooltip-text {
    background: $gunmetal;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.p-tooltip.p-tooltip-right .p-tooltip-arrow {
    border-right-color: $gunmetal;
}

.p-tooltip.p-tooltip-left .p-tooltip-arrow {
    border-left-color: $gunmetal;
}

.p-tooltip.p-tooltip-top .p-tooltip-arrow {
    border-top-color: $gunmetal;
}

.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
    border-bottom-color: $gunmetal;
}

.p-dialog {
    max-height: 80%;
}

button,
a {
    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px rgba($brandeis-blue, 0.33);
        border-radius: 4px;
    }
}

// Give anchor targets space above when scrolling to top
:global {
    :target:before {
        content: "";
        display: block;
        height: 5em;
        margin-top: -3em;
    }
}

// styles for correct scroll
.rendered-content-container {
    height: 100%;
}

// Icons
//.sm {
//    font-family: $icons-font;
//    speak: none;
//    font-style: normal;
//    font-weight: normal;
//    font-variant: normal;
//    text-transform: none;
//    line-height: 1;
//    display: inline-block;
//
//    &::before {
//        --webkit-backface-visibility: hidden;
//        backface-visibility: hidden;
//    }
//}

@media print {
    #root {
        height: 100% !important;
    }
    body {
        overflow: visible !important;
        background: #fff !important;
        color: #000;
        height: auto;
    }
    .App {
        height: auto !important;
    }
    .App > .p-blockui-container {
        display: block !important;
        height: auto !important;
    }
    .p-toast {
        display: none !important;
    }
    a:link,
    a:visited,
    a {
        background: transparent;
        color: navy;
        font-weight: bold;
        text-decoration: underline;
    }
    a {
        page-break-inside: avoid;
    }
    div.monaco-aria-container {
        display: none !important;
        position: static !important;
    }
    div.p-blockui-container {
        position: static;
    }
    .rendered-content-container {
        height: auto !important;
    }
    :target:before {
        display: none;
    }
    .monaco-editor {
        .lines-content {
            width: 100% !important;
            height: 100% !important;
        }
    }
}