@use "@open-smc/ui-kit/src/theme/variables" as *;
@use "../../shared/components/table";

:global(.elementWrapper) {
    position: relative;
}

:global(.elementWrapper.markdown) {
    padding-left: 40px;
    border-left: 4px solid transparent;
    padding-top: 4px;
}

:global(.elementWrapper.editMode) {
    padding-top: 0;
}

:global(.elementWrapper.markdown.active) {
    border-left-color: $brandeis-blue;
}

:global(.elementWrapper.markdown) .cellContent {
    border: 2px solid transparent;
    border-radius: 2px;
}

.runButton {
    position: absolute;
    left: 12px;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: $dark-silver;
    opacity: 0;
    z-index: 1;
    border-radius: 4px;

    &:hover {
        color: $brandeis-blue;
    }

    &:disabled {
        color: $silver-sand;
    }
}

.evaluationWrapper {
    position: absolute;
}

.evaluationCount {
    opacity: 1;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $gunmetal;
    position: absolute;
    left: 12px;
    width: 24px;
    display: flex;
    height: 24px;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

:global(.elementWrapper:hover) .runButton,
:global(.elementWrapper.active) .runButton {
    opacity: 1;
}

:global(.elementWrapper.markdown) .runButton {
    opacity: 0;
}

:global(.elementWrapper:hover) .evaluationCount,
:global(.elementWrapper.active) .evaluationCount {
    opacity: 0;
}

:global(.scroll-offset) {
    scroll-margin-top: 24px;
}

.pendingStatus {
    position: absolute;
    top: 0;
    left: 12px;
    border: none;
    background: transparent;
    height: 24px;
    width: 24px;
    color: $dark-silver;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.evaluationSpinner {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 13px;
}

.spinner {
    width: 22px;
    height: 22px;
    stroke: #6bff01;
}

.cellToolbar {
    background: $bright-gray;
    display: flex;
    border-radius: 2px;
}

.toolbarInner {
    padding: 0 4px;
    display: flex;
    border-radius: 2px;
}

.toolbarInner + .toolbarInner {
    border-left: 1px solid $white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.toolbarSettings {
    padding: 0;
}

:global(.elementWrapper.active) .cellToolbar {
    background-color: $popsicle-blue;

    .toolbarButton {
        background: $popsicle-blue;
    }

    :global(.rc-dropdown-open).toolbarButton {
        background: $brandeis-blue;
        color: $white;
    }
}

.toolbarButton {
    width: 24px;
    height: 24px;
    font-size: 16px;
    background: $bright-gray;
    border-radius: 2px;
    color: $gunmetal;

    &:hover {
        color: $brandeis-blue;
    }
}

:global(.rc-dropdown-open).toolbarButton {
    background: $brandeis-blue;
    color: $white;
}

.toolbarButton:disabled {
    display: none;
}

.deleteButton:hover {
    color: $portland-orange;
}

.settingsButton {
    width: 32px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

:global(.elementWrapper) {
    p {
        margin: 0;
        margin-bottom: 8px;
        font-family: $roboto-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gunmetal;
    }

    p + p {
        margin-top: 8px;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4px 16px;
}

:global(.elementWrapper.active) .footer {
    border-color: $popsicle-blue;
    background-color: rgba($popsicle-blue, 0.5);
}

.markdownButton {
    width: 24px;
    height: 24px;
    background: transparent;
    border-radius: 2px;
    color: $gunmetal;
    display: inline-flex;
    font-size: 16px;
}

:global(.elementWrapper.active.selected) .markdownButton {
    &:hover {
        background: $popsicle-blue;
        color: $brandeis-blue;
    }
}

.toolbarWrapper {
    text-align: right;
    position: absolute;
    right: 16px;
    top: 0;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    background-color: white;
}

:global(.elementWrapper.collapsed) .toolbarWrapper {
    opacity: 0;
}

:global(.markdown) .toolbarWrapper {
    opacity: 0;
}

:global(.markdown.editMode) .toolbarWrapper {
    opacity: 1;
}

.evaluationBox + .cellToolbar {
    border-radius: 0px 2px 2px 0px;
}

.evaluationBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1px;
    padding: 0 8px;
    border-radius: 2px 0px 0px 2px;
    background-color: $sea-foam-green;
}

.evaluationStatus {
    i {
        margin-right: 4px;
        color: $malachite;
        width: 24px;
        height: 24px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.evaluationTime {
    font-family: $roboto-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $gunmetal;
}

// code cell
.inputWrapper {
    padding-left: 40px;
    border-left: 4px solid transparent;
    position: relative;
    opacity: 1;
    min-height: 24px;
}

:global(.elementWrapper.collapsed) .inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

:global(.elementWrapper:hover) .inputWrapper {
    border-color: $silver-sand;
}

:global(.elementWrapper.active) .inputWrapper {
    border-color: $brandeis-blue;
}

.collapsedTitle {
    display: flex;
    align-items: center;
    min-height: 24px;
    font-family: $roboto-font;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: rgba($gunmetal, 0.5);
}

.input {
    background: white;
    border: 2px solid $bright-gray;
    border-radius: 4px;
    padding: 16px;
}

:global(.elementWrapper.active) .input {
    border-color: $popsicle-blue;
    background-color: rgba($popsicle-blue, 0.1);
}

:global(.output) {
    padding-left: 40px;
    margin-top: 16px;
    border-left: 4px solid transparent;
    position: relative;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.innerContainer {
    padding: 16px;
    padding-left: 0;
}

:global(.elementWrapper:hover) :global(.output) {
    border-color: $silver-sand;
}

:global(.elementWrapper.active) :global(.output) {
    border-color: $brandeis-blue;
}

:global(.elementWrapper.error):hover .inputWrapper {
    border-color: $faded-pink;
}

:global(.elementWrapper.error.active) .inputWrapper {
    border-color: $portland-orange;
}

:global(.elementWrapper.error.active) .cellToolbar,
:global(.elementWrapper.error):hover .cellToolbar {
    background: $faded-pink;

    .toolbarButton {
        background: $faded-pink;
    }
}

:global(.elementWrapper.error):hover .input {
    border-color: $faded-pink;
    background-color: white;
}

:global(.elementWrapper.error.active) .input {
    border-color: $faded-pink;
    background-color: white;
}

.evaluationError {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $portland-orange;
    padding-bottom: 8px;
}

:global(.elementWrapper.error) .evaluationBox {
    background-color: transparent;
    margin-top: 14px;
    justify-content: flex-start;
    padding: 0;
    margin-right: 0;
    position: relative;

    i {
        position: absolute;
        color: $portland-orange;
        font-size: 24px;
        left: -32px;
        top: -6px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.markdownInput {
    padding: 16px;
}

:global(.markdown.editMode) .cellContent {
    border-color: $popsicle-blue;
    background-color: rgba($popsicle-blue, 0.1);
    padding: 16px;
}

:global(.markdown.active.editMode) .cellContent {
    padding: 0;
}

:global(.output) {
    @include table.table;
}

.cellContent :global .heading-number {
    margin-right: 8px;
}

:global(.heading-anchor) {
    text-decoration: none;
    margin-right: 4px;
    width: 16px;
    height: 16px;

    i {
        pointer-events: none;
        width: 16px;
        height: 16px;
        font-size: 16px;
        color: $gunmetal;
    }
}

@media print {
    .toolbarWrapper,
    .evaluationWrapper {
        display: none !important;
    }
    .inputWrapper {
        padding-left: 0 !important;
        border-left: none !important;
    }
    :global(.heading-anchor) {
        display: none !important;
    }
    .evaluationBox {
        :global(.sm-alert) {
            display: none !important;
        }
    }
    :global(.elementWrapper.markdown) {
        padding-left: 0 !important;
        border-left: none !important;
    }
    .collapsedTitle {
        display: none;

        + .evaluationBox {
            display: none;
        }
    }
    :global(.output) {
        padding-left: 0;
        border-left: none;
    }
    .innerContainer {
        padding-right: 0;
    }
}