@use "@open-smc/ui-kit/src/theme/variables" as *;

.code .monaco-editor {
    background-color: transparent;
}

div.monaco-editor .margin {
    background-color: transparent;
}

.markdown .monaco-editor {
    background-color: transparent;

    .monaco-editor-background {
        background-color: transparent;
    }
}

.monaco-editor.no-user-select .lines-content {
    background-color: transparent;
}

.code.active {
    .line-numbers {
        color: $dark-silver;
    }
}

