@use "@open-smc/ui-kit/src/theme/variables" as *;

.notebook {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainWrapper {
    height: 100%;
    overflow-y: auto;
    outline: 0;
    background-color: white;
    position: relative;
}

.mainWrapper:global.showOutline {
    display: grid;
    grid-template-columns: 240px 1fr;
    overflow: hidden;
}

.main {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 16px 24px 24px 12px;
    height: 100%;
    overflow-y: auto;
}

.tableOfContents {
    height: 100%;
    width: 300px;
    background: #eee;
    border: 1px solid #ccc;
    white-space: nowrap;
}

.elementsWrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 8px;
}

.element-buttons {
    background-color: black;
    padding: 10px;

    .element-button {
        background-color: black;
        color: white;
        margin: 5px;

        &:first-child {
            border-right: 3px solid white;
        }
    }
}

.outlineWrapper {
    overflow-y: auto;
    border-right: 2px solid $bright-gray;
    background-color: white;
}

.elementsContainer {
    position: relative;
    margin-bottom: 16px;
}

@media print {
    .main {
        display: block;
        overflow-y: visible !important;
        width: auto;
        height: auto;
        padding: 0;
    }
    .notebook {
        display: block !important;
        height: auto !important;
    }
    .mainWrapper {
        height: auto !important;
        overflow-y: visible !important;
    }
    .elementsContainer {
        position: static !important;
    }
    .elementsWrapper {
        width: 99%;
    }
}