@use "@open-smc/ui-kit/theme/variables" as *;

.sessionDialog {
    position: relative;
    width: fit-content;
    max-height: 85vh;
    margin: 24px;
    user-select: none;
    border-radius: 6px;
    padding: 24px;
    background-color: $white;
}

:global(.p-dialog-title) {
    margin-bottom: 24px;
    font-size: 26px;
    font-family: $overpass-font;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

:global(.p-dialog .p-dialog-header-icons) {
    display: none;
}

:global(.p-dialog-content p) {
    font-size: 14px;
    font-family: $roboto-font;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    margin-bottom: 24px;
}

.cancel {
    display: inline-flex;
}
