@using Microsoft.JSInterop
@inherits BlazorView<GridControl>
@implements IAsyncDisposable

<HeadContent>
    <link href="_content/OpenSmc.Blazor.AgGrid/style.css" rel="stylesheet" />
</HeadContent>

<div @ref="element" class="ag-theme-quartz" style="height: 500px; width: 100%;"></div>

@code
{
    ElementReference element;

    [Inject] private IJSRuntime JsRuntime { get; set; }
    private IJSObjectReference jsModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", 
                "./_content/OpenSmc.Blazor.AgGrid/index.mjs");
            DataBind<object>(ViewModel.Data, o => Options = o);
        }

        if (jsModule is not null)
        {
            await jsModule.InvokeVoidAsync("renderGrid", id, element, Options);
        }
    }

    private string id = Guid.NewGuid().ToString();

    private object Options { get; set; }

    public async ValueTask DisposeAsync()
    {
        if (jsModule is not null)
        {
            try
            {
                await jsModule.DisposeAsync();
            }
            catch (JSDisconnectedException)
            {
            }
        }   
    }
}