@use "@open-smc/ui-kit/src/theme/variables" as *;

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $gunmetal;
}

.active {
    border: 1px solid blue;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons {
    width: 56px;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: space-between;
}

.icon {
    border: none;
    background: transparent;
    width: 24px;
    height: 24px;
    font-size: 16px;
    color: $gunmetal;
    display: flex;
    align-items: center;

    &:hover {
        color: $brandeis-blue;
    }
}

.buttons {
    width: 56px;
    display: flex;
    justify-content: space-between;
}

.active {
    color: $brandeis-blue;
}

.more {
    align-self: center;
    margin-left: auto;
    width: 24px;
    height: 24px;
    font-size: 24px;
    border: none;
    background-color: white;
}

.agWrapper {
    padding: 24px;
    background: white;
    padding-bottom: 15px;
    border: 2px solid rgba($silver-sand, 0.5);
    border-radius: 4px;
}