@use "@open-smc/ui-kit/src/theme/variables" as *;

.field {
    position: relative;
}

.kernelField {
    border-bottom: 1px solid #ededed;
    margin-bottom: 24px;
}

.sliderInfo {
    display: flex;
    justify-content: space-between;
}

.creditsPerMinute {
    font-family: $roboto-font;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: rgba($gunmetal, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    padding: 16px 16px;
    background-color: $light-gray;
    border-radius: 4px;
    margin-top: 24px;
    margin-bottom: 24px;
}

:global(.session-tier) .creditsPerMinute {
    margin-bottom: 0;
}

.creditsPerMinuteValue {
    font-weight: 700;
    color: $gunmetal;
    margin-right: 4px;
}

.memoryField {
    margin-top: 24px;
}

.sliderValue {
    font-family: $roboto-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: $brandeis-blue;
    margin-bottom: 8px;
}

:global(.inherited) {
    .sliderValue {
        opacity: 0.33;
    }
}

:global(.blueTooltip) {
    & :global(.rc-tooltip-inner) {
        padding: 6px 8px;
        padding-bottom: 2px;
        background-color: $brandeis-blue;
        color: $white;
        border: none;
        box-shadow: none;
    }

    &:global(.rc-tooltip-placement-bottom) {
        padding: 0 0 5px 0;
    }

    & :global(.rc-tooltip-arrow) {
        top: -3px;
        border-bottom-color: $brandeis-blue;
        border-width: 0 4px 4px;
        transform: translateX(1px);
    }
}

.sliderBox {
    & :global(.rc-slider-mark-text):first-of-type {
        transform: translateX(0px) !important;
    }

    & :global(.rc-slider-mark-text):last-of-type {
        transform: translateX(-100%) !important;
    }
}

.button {
    width: 160px;
}

.restoreButton {
    width: 160px;

    & :global(.icon) {
        color: $portland-orange;
    }

    &:hover {
        color: $gunmetal;
        opacity: 0.7;

        & :global(.icon) {
            color: $portland-orange;
        }
    }
}

.timeoutField {
    position: relative;

    .minutes {
        position: absolute;
        padding: 6px 8px;
        background-color: $white;
        bottom: 25px;
        z-index: 1;
        right: 1px;
        border-radius: 0 4px 4px 0;
        height: 30px;
        pointer-events: none;
    }

    input {
        padding-right: 74px;
    }
}

:global(.inherited) {
    .minutes {
        opacity: 0.3;
    }
}

.fieldInfo {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: $silver-sand;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    right: -29px;

    &:hover {
        color: $american-yellow;
    }
}

:global(.single-value) {
    .fieldInfo {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.cpuInfo {
    top: 9px;
}

.timeoutInfo {
    bottom: 23px;
}

.timeoutsContainer {
    border-top: 1px solid $bright-gray;
    padding-top: 24px;
}

.switchContainer {
    margin-top: 24px;
    display: flex;
}

.switchLabel {
    margin-left: 8px;
    font-family: $roboto-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $gunmetal;
    user-select: none;
}

:global(.inherited) {
    .switchLabel {
        opacity: 0.33;
    }
}

:global(.rc-switch-disabled) + .switchLabel {
    opacity: 0.33;
}