@switch(Control){
    case null:
        //TODO Roland Bürgi 2024-05-27: Show spinner here? Encapsulate in task?
        break;
    case MenuItemControl menuItem:
        <MenuItem Control="@menuItem" />
        break;

    case RemoteViewControl remoteView:
        <LayoutAreaView Control="@remoteView" Store="@Store" />
        break;


    default:
        <p>Unknown control: @Control.GetType().FullName. Please specify a view.</p>
        break;
}


@code{

    [Parameter]
    public UiControl Control { get; set; }
    [Parameter]
    public EntityStore Store { get; set; }
}
