<div id ="@Control.Id">
    @foreach(var area in Control.Areas){
        <p>Rendering area @area</p>
        <GenericView Control="GetArea(area)" Store="@Store"/>
    }
</div>


@code{

    [Parameter]
    public LayoutStackControl Control { get; set; }
    [Parameter]
    public EntityStore Store { get; set; }

    UiControl GetArea(string area) => Store?.GetControl(area);

}
