@using System.Text.Json
@using OpenSmc.Data.Serialization
@if (RootControl == null)
{
    <div style="width: 600px; display: grid; grid-gap: 3px; grid-auto-flow: row;">
        <div>Connecting to <b> @Address </b></div>
        <div>Fetching <b>@Reference.Area</b></div>
        <FluentProgress></FluentProgress>
    </div>
}
else
{
    <DispatchView ViewModel="@RootControl" Stream="@Stream" Area="@Reference.Area"/>
}

@code{

    [Parameter]
    public object Address { get; set; }

    [Parameter]
    public LayoutAreaReference Reference { get; set; }

    private UiControl RootControl { get; set; } = null;

    [Parameter]
    public ISynchronizationStream<JsonElement, LayoutAreaReference> Stream { get; set; }

}
