<div id ="@Control.Id">
    @foreach(var area in Control.Areas){
        <p>Rendering area @area</p>
        <GenericView Control="GetArea(area)" Store="@Store"/>
    }
</div>


@code{

    [Parameter]
    public LayoutStackControl Control { get; set; }
    [Parameter]
    public EntityStore Store { get; set; }

    UiControl GetArea(object reference) => Store?.GetControl(GetAreaId(reference));

    // TODO V10: This is clumsy. ==> Convert Areas to IReadonlyCollection<string>? (27.05.2024, Roland Bürgi)
    private static string GetAreaId(object reference) => (string)((EntityReference)reference).Id;
}
