@using OpenSmc.Data.Serialization
@inherits BlazorView<LayoutStackControl>
<div id ="@ViewModel.Id">
    @foreach(var area in ViewModel.Areas){
        <p>Rendering area @area</p>
        <DispatchView ViewModel="GetArea(area)" Stream="@Stream"/>
    }
</div>


@code{

    object GetArea(string area) => Stream?.GetControl(area);

}
