<div>
    @if(RootControl == null)
    {
        <p>Loading data from @Address for Area @Reference.Area</p>
    }
    else
    {
        <GenericView Control="@RootControl" Store="@Store"/>
    }
</div>
@code{
    [Parameter]
    public LayoutAreaControl Control { get; set; } = null;

    [Parameter]
    public EntityStore Store { get; set; }

    [Parameter]
    public object Address { get; set; }

    [Parameter]
    public LayoutAreaReference Reference { get; set; }

//    [Parameter]
    public UiControl RootControl { get; set; }

}
