@using Markdig
@using OpenSmc.Layout.Markdown
@inherits BlazorView<MarkdownControl>

<div class="markdown">
@if(Html != null)
{
    @((MarkupString)Html) 
}


@foreach (var component in LayoutAreaComponents)
{
        <LayoutArea Address="@Stream.Owner" Reference="@component.Reference" />
}
</div>
@code 
{
    private IReadOnlyList<LayoutAreaComponentInfo> LayoutAreaComponents { get; set; } = [];
    private string Html { get; set; }
    protected override void BindData()
    {
        base.BindData();
        DataBind<string>(ViewModel.Data, RenderMarkdown);
    }

    private void RenderMarkdown(string markdown)
    {
        var layoutAreaExtension = new LayoutAreaExtension(Stream.Hub);
        var pipeline = new MarkdownPipelineBuilder()
            .UseAdvancedExtensions()
            .Use(layoutAreaExtension)
            .Build();
        Html = Markdown.ToHtml(markdown, pipeline);
        LayoutAreaComponents = layoutAreaExtension.Parser.Areas;
    }

}