@use "@open-smc/ui-kit/theme/variables" as *;

.footer {
    background-color: $gunmetal;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.item {
    font-family: $roboto-font;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    padding: 12px 18px;

    i {
        font-size: 16px;
        margin-right: 4px;
        color: $silver-sand;
    }

    &:hover {
        background-color: rgba(white, 0.1);
        color: white;
    }
}

.controls {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.control {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 24px;
        color: $silver-sand;
    }

    &:hover {
        background-color: rgba(white, 0.1);
        color: white;
        cursor: pointer;
    }
}

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.breadcrumb {
    font-family: $roboto-font;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;

    i {
        font-size: 16px;
        margin-right: 4px;
        color: $silver-sand;
    }
}

@media print {
  .footer {
    display: none !important;
  }    
}