@use "@open-smc/ui-kit/theme/variables" as *;

.table {
    width: 283px;
    margin-top: 32px;
    border: 1px solid rgba($gunmetal, 0.1);
    border-collapse: collapse;
    margin-left: auto;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: $gunmetal;
}

:global(.unpaid) {
    .row:last-of-type {
        background-color: rgba($faded-pink, 0.5);
    }
}

:global(.paid) {
    .row:last-of-type {
        background-color: rgba($last-sunray, 0.3);
    }
}

.row {
    border-bottom: 1px solid rgba($gunmetal, 0.1);
}

.cell {
    padding: 16px;
    text-align: right;
    vertical-align: middle;

    &:first-child {
        width: 149px;
    }
}

.icon {
    width: 16px;
    font-size: 16px;
    color: $sunglow;
    margin-left: 9px;
    display: inline-block;
    position: absolute;
}