@use "@open-smc/ui-kit/theme/variables" as *;

.main {
    display: flex;
    background-color: white;
    overflow-y: auto;
    height: 100vh;
}

.container {
    flex-grow: 1;
    width: 100%;
    padding: 24px 16px;
}

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1098px;
    padding-bottom: 40px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

.column {
    display: flex;
    flex-direction: column;
}

.logo {
    margin-bottom: 42px;
}

.label {
    font-family: $roboto-font;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $gunmetal;
    margin-bottom: 4px;
}

.value {
    font-weight: 400;
}

.row {
    display: flex;
    flex-direction: row;
}

.date {
    font-family: $overpass-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $gunmetal;
    margin-top: 14px;
}

.subscription {
    margin-left: 17px;
}

@page {
    margin: 0;
}

@media print {
    @page {
        size: landscape
    }
}

.invoice {
    :global {
        .ag-theme-alpine {
            --ag-header-background-color: #f4f4f4;
            --ag-odd-row-background-color: transparent;
            --ag-alpine-active-color: transparent;
            --ag-foreground-color: #292b36;
            --ag-row-hover-color: rgba(204, 227, 255, 0.2);
            --ag-font-size: 12px;
            --ag-line-height: 16px;
            --ag-font-family: 'Roboto';
            --ag-borders-row: solid 1px;
            --ag-row-border-color: #ededed;
            --ag-secondary-border-color: #ededed;
            --ag-range-selection-border-color: transparent;

            .ag-header-cell {
                padding-left: 16px;
                padding-right: 16px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.02em;
            }

            .ag-header-cell {
                padding-left: 0;

                &:first-child {
                    padding-left: 16px;
                }
            }

            .ag-cell {
                padding-left: 0;

                &:first-child {
                    padding-left: 16px;
                }
            }

            .ag-header {
                font-family: $overpass-font;
                font-weight: 600;
                border-bottom: 2px solid $bright-gray;
            }

            .align-right .ag-header-cell-label {
                justify-content: flex-end;
            }

            .align-end {
                align-items: flex-end;
                justify-content: flex-end;
            }

            .inherited .ag-cell {
                opacity: 0.5;
            }

            .inherited .ag-cell:last-child {
                opacity: 1;
            }

            .ag-overlay-no-rows-center {
                font-family: $overpass-font;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: $gunmetal;
            }

            .ag-root-wrapper {
                border: none;
            }

            .rc-select {
                margin: 0 16px;
            }
        }
    }
}