@use "@open-smc/ui-kit/theme/variables" as *;

.container {
    padding: 24px;
    border: 1px solid $bright-gray;
    border-radius: 6px;
    margin-right: 24px;
    margin-top: 16px;
}

.container.active {
    border: 1px solid $blueberry;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: $roboto-font;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.title {
    color: $gunmetal;
    margin: 0;
    font-size: 10px;
    line-height: 8px;
}

.title.active {
    color: $blueberry;
}

.id {
    font-size: 10px;
    line-height: 8px;
    color: $dark-silver;
    margin-left: 24px;
}

.start {
    margin: 0;
    margin-top: 8px;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $dark-silver;
}

.list {
    margin: 0;
    padding: 0;
    margin-top: 12px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
    flex-direction: column;
    margin-right: 22px;

    &:last-child {
        margin-right: 0;
    }
}

.label {
    font-family: $overpass-font;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $silver-sand;
}

.value {
    margin-top: 4px;
    font-family: $roboto-font;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $gunmetal;
}

.valueSmall {
    font-family: $roboto-font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba($gunmetal, 0.3);
}
