@using OpenSmc.Charting
@using OpenSmc.GridModel
@page "/"

<PageTitle>OpenSmc</PageTitle>

<h1>Hello</h1>
@* <DispatchView ViewModel="@ViewModel"/> *@
<DispatchView ViewModel="@GridViewModel"/>

Welcome to your new app.


@code
{
    private ChartControl ViewModel = new ChartControl(new
    {
        type = "line",
        data = new
        {
            labels = new[] { "Red", "Blue", "Yellow", "Green", "Purple" },
            datasets = new[]
            {
                new
                {
                    label = "First dataset",
                    data = new[] { 1, 2, 3, 4, 5 },
                    fill = false,
                    borderColor = "rgb(75, 192, 192)",
                    tension = 0.1
                }
            }
        }
    });

    private GridControl GridViewModel => new(new
    {
        rowData = new[]
        {
            new {make = "Tesla", model = "Model Y", price = 64950, electric = true},
            new {make = "Ford", model = "F-Series", price = 33850, electric = false},
            new {make = "Toyota", model = "Corolla", price = 29600, electric = false},
        },
        columnDefs = new[]
        {
            new {field = "make"},
            new {field = "model"},
            new {field = "price"},
            new {field = "electric"}
        }
    });
}
