@page "/northwind"
@using OpenSmc.Application;
@using OpenSmc.Layout;

<PageTitle>Northwind</PageTitle>

<h1>Northwind</h1>
<LayoutAreaView Address="@Address" Reference="@Reference"/>

@code{
    private object Address = new ApplicationAddress("Northwind", "dev");
    private LayoutAreaReference Reference = new(""); 
}