@using MeshWeaver.Layout
@inherits BlazorView<DocumentSourceControl, DocumentSourceView>

<div @ref="containerRef" class="mw-docsource @Class" style="@Style">
    <div class="mw-docsource-loading">Loading document…</div>
</div>
