@inherits BlazorView<HtmlControl, HtmlView>

@if (ViewModel.IsClickable)
{
    <div @onclick="OnClick" style="@Style" class="@Class">
        @Html
    </div>
}
else
{
    @Html
}

@code
{
    private MarkupString? Html { get; set; }

    protected override void BindData()
    {
        base.BindData();
        DataBind(ViewModel.Data, h => h.Html, (o,_) => o is null ? default : new(o.ToString()!));
    }

}
