@using Markdig
@using Microsoft.JSInterop
@using MeshWeaver.Layout.Markdown
@inherits BlazorView<MarkdownControl, MarkdownView>
@inject IJSRuntime JsRuntime;

<HeadContent>
    <link href="_content/MeshWeaver.Blazor/node_modules/highlight.js/styles/default.min.css" rel="stylesheet" />
    <link href="_content/MeshWeaver.Blazor/markdown.css" rel="stylesheet" />
</HeadContent>

<article @ref="element" class="markdown-body">
    @if(Html != null)
    {
        @((MarkupString)Html) 
    }

    @foreach (var component in LayoutAreaComponents)
    {
        <div id="@(ComponentContainerId(component.Id.ToString()))" style="display:none;">
            <LayoutArea ViewModel="@component" Area="@SubArea(component.Id.ToString())"/>
         </div>
    }
</article>
