@inherits SkinnedView<MenuItemControl, MenuItemSkin, MenuItemView>
<div class="menu-item">
    <FluentMenuItem 
        OnClick="OnClick"
    >@Title</FluentMenuItem>
</div>
@code
{
    private string Title { get; set; }
    protected override void BindData()
    {
        base.BindData();
        DataBind(Skin.Title, x => x.Title);
    }

}
