@using Microsoft.JSInterop
@inject IJSRuntime JsRuntime


<div @ref="Element" @attributes="AdditionalAttributes" class="mermaid">
</div>
@code {
    [Parameter] public string? Diagram { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
    private ElementReference Element;
    private IJSObjectReference? jsModule;
    [Parameter]public DesignThemeModes Mode { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                jsModule ??= await JsRuntime.InvokeAsync<IJSObjectReference>("import",
                "./_content/MeshWeaver.Blazor/Components/Mermaid.razor.js");
            }

            if (jsModule is not null)
            {
                await jsModule.InvokeVoidAsync("renderMermaid", Mode, Element, Diagram);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error rendering mermaid diagram: {ex.Message}");
        }
    }
}