@inherits BlazorView<NamedAreaControl, NamedAreaView>
@using HorizontalAlignment = Microsoft.FluentUI.AspNetCore.Components.HorizontalAlignment
@using Orientation = Microsoft.FluentUI.AspNetCore.Components.Orientation
@using VerticalAlignment = Microsoft.FluentUI.AspNetCore.Components.VerticalAlignment

@if (ShowProgress && RootControl == null)
{
    <FluentStack 
        HorizontalAlignment="HorizontalAlignment.Center" 
        VerticalAlignment="VerticalAlignment.Center" 
        Orientation="Orientation.Vertical">
        <h3>@ProgressMessage</h3>
        <FluentProgressRing style="width: 102px; height: 102px;" />
    </FluentStack>
}
@if (@RootControl != null)
{
    <DispatchView ViewModel="@RootControl" Stream="@Stream" Area="@Area" />
}


