@use "@open-smc/ui-kit/src/theme/variables" as *;

.dialog {
    width: 584px;
    border-radius: 4px;
    padding: 16px;
    padding-top: 24px;
    background-color: white;
    font-family: $overpass-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $gunmetal;

    & :global(.p-dialog-title) {
        padding: 0 8px;
    }
}