@use "@open-smc/ui-kit/src/theme/variables" as *;

.p-progressbar {
    background-color: $bright-gray;
    height: 2px;
    bottom: 0;
}

.p-progressbar-value {
    background-color: $brandeis-blue;
}