@page "/articles/{**Collection}"
@using MeshWeaver.Blazor.Infrastructure
@using MeshWeaver.Blazor.FileExplorer

@inject PortalApplication Portal

<div class="articles-catalog-page">
    <FluentToolbar Class="toolbar">
        <CollectionPicker Collection="@Collection" CollectionChanged="HandleCollectionChanged" NullLabel="(all)"/>
    </FluentToolbar>
    <LayoutArea Address="@Portal.Hub.Address" Area="Catalog" Id="@Collection" />
</div>

@code
{
    [Parameter] public string Collection { get; set; }

    private void HandleCollectionChanged(string collection)
    {
        Collection = collection;
        InvokeAsync(StateHasChanged);
    }
}