@page "/collections/{**FullPath}"
@using Microsoft.AspNetCore.Components.Authorization
@using MeshWeaver.Blazor.FileExplorer
@using MeshWeaver.ContentCollections
@using MeshWeaver.Messaging
@using Microsoft.Extensions.DependencyInjection

<PageTitle>Browse @Collection</PageTitle>
<AuthorizeView Roles="@Roles.PortalAdmin">
    <Authorized>
        <FileBrowser CollectionName="@Collection" CurrentPath="@Path"></FileBrowser>
    </Authorized>
    <NotAuthorized>
        <h3>Access Denied</h3>
        You need to have Portal Administrator role to administer collections. Please contact your system administrator
    </NotAuthorized>
</AuthorizeView>
@code {
    [Parameter] public string? FullPath { get; set; } = "";
    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    [Inject] private IMessageHub Hub { get; set; } = null!;
    private IContentService ContentService => Hub.ServiceProvider.GetRequiredService<IContentService>();
    private string? Collection { get; set; } = "";
    private string? Path { get; set; } = "";

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (!string.IsNullOrEmpty(FullPath))
        {
            var split = FullPath!.Split('/');
            Collection = split[0];
            Path = string.Join('/', split.Skip(1));
        }
        else
        {
            // Redirect to first available collection if no collection specified
            var collections = await ContentService.GetCollectionsAsync();
            var firstCollection = collections.FirstOrDefault();
            if (firstCollection != null)
            {
                NavigationManager.NavigateTo($"/collections/{firstCollection.Collection}");
                return;
            }
        }
    }

}
