@page "/collections/{*Collection}"
@using MeshWeaver.Blazor.Infrastructure
@using Microsoft.AspNetCore.Components.Authorization

<Title>Browse @Collection</Title>
<AuthorizeView Roles="@Roles.PortalAdmin">
    <Authorized>
        <FileBrowser CollectionName="@Collection"></FileBrowser>
    </Authorized>
    <NotAuthorized>
        <h3>Access Denied</h3>
        You need to have Portal Administrator role to administer collections. Please contact your system administrator
    </NotAuthorized>
</AuthorizeView>
@code {
    [Parameter] public string Collection { get; set; }

    
}
