@use "@open-smc/ui-kit/theme/variables" as *;

.classificationContainer {
    min-width: 500px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 24px;
    grid-template-rows: minmax(0, 100%);
    flex-shrink: 1;
    // height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: header;
    margin-bottom: 16px;
}

.heading {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 16px;
}

.column {
    display: grid;
    grid-template-rows: repeat(2, minmax(76px, 50%));
    gap: 16px;
    height: 100%;
}

.title {
    font-family: $overpass-font;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: $dark-silver;
    position: absolute;
    left: 4px;
    top: 0;
    padding: 0 4px;
    background: $white;
    margin: 0;
    letter-spacing: 0.02em;
    transform: translateY(-50%);
}

.sliceItem {
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    color: $gunmetal;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $bright-gray;
    cursor: default;

    &:last-of-type {
        border-bottom: none;
    }

    &:global(.selected) {
        color: $silver-sand;
        padding-left: 20px;
    }

    &:global(.isDragging) {
        color: $silver-sand;
    }

    &:global(.draggedItem) {
        filter: drop-shadow(4px 4px 8px rgba($black, 0.15)) drop-shadow(1px 1px 1px rgba($black, 0.05));
        background-color: $popsicle-blue-light;
    }
}

.categoryList {
    height: 100%;
    border: 1px solid $bright-gray;
    border-radius: 4px;
    padding: 16px 12px;
    position: relative;

    .sliceItem:global(.isDragging) {
        opacity: 0.3;
        color: $gunmetal;
    }
}

.category {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .sliceItem {
        background-color: $popsicle-blue-light;
        border-bottom: none;
        margin-top: 2px;
    }

    .sliceItem:first-of-type {
        margin-top: 0;
    }
}

.dragButton {
    font-size: 12px;
    width: 20px;
    height: 30px;
    background-color: transparent;

    &:hover {
        cursor: pointer;
        color: $brandeis-blue;
    }

    &:active {
        cursor: pointer;
    }
}

.resetButton {
    width: 30px;
    height: 30px;
    margin-left: auto;
    font-size: 12px;
    color: $portland-orange;
    background: transparent;

    &:hover {
        opacity: 0.8;
        color: $portland-orange;
    }
}

.elementsList {
    overflow: auto;
}

.classificationFooter {
    display: flex;
    margin-top: 8px;
}

.resetAllButton {
    margin-left: auto;
}

.placeholder {
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $silver-sand;
    padding: 0 8px;
    max-width: 20ch;
    margin: auto;
}

.label {
    background: $white;
    border-radius: 999px;
    padding: 0 5px;
    font-family: $roboto-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $gunmetal;
    display: flex;
    margin-left: 4px;
}

.resetAll {
    margin-left: auto;
    color: $portland-orange;
    background-color: transparent;
    gap: 4px;

    &:hover {
        opacity: 0.8;
    }
}
