@use "@open-smc/ui-kit/src/theme/variables" as *;

.main {
    display: flex;
    overflow: hidden;
}

.content {
    overflow-y: auto;
    padding: 40px 68px;
    background-color: $bright-gunmetal;
    flex-grow: 1;
    position: relative;
    justify-content: center;

    & > div:first-child {
        max-width: 1224px;
        width: 100%;
        margin: 0 auto;
    }
}

div.toolbar {
    justify-content: flex-start;
    margin-top: 40px;
}

.viewMoreButton {
    min-width: 200px;
    margin-top: 32px;
}