@using MeshWeaver.Layout
@using MeshWeaver.Blazor.Components
<div class="navmenu">
    <div class="navmenu">
        <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
        <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Neutral" /></label>
        <nav class="sitenav" aria-labelledby="main-menu" >
            <FluentNavMenu Id="main-menu" Title="Main menu" CustomToggle="true">
                <LayoutArea Address="app/Documentation" Area="@NavMenuArea" ShowProgress="false"></LayoutArea>
                <LayoutArea Address="app/Northwind" Area="@NavMenuArea" ShowProgress="false"></LayoutArea>
            </FluentNavMenu>
        </nav>
    </div>
</div>

@code{

    private const string NavMenuArea = NavMenuExtensions.NavMenu;

}
