@use "@open-smc/ui-kit/src/theme/variables" as *;

.environments {
    font-family: $roboto-font;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 22px;
}

.card {
    border: 2px solid $bright-gray;
    padding: 10px 14px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-family: $roboto-font;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.active {
    border: 2px solid $brandeis-blue;
}

.menu {
    width: 144px;
    padding: 8px 0;
    background-color: white;
    border: 1px solid $blueberry;
    box-shadow: 0px 8px 24px rgba(41, 43, 54, 0.14), 0px 4px 4px rgba(41, 43, 54, 0.05);
    border-radius: 4px;
    transform: translate(-120px, 0px);
}

.separator {
    border-top: 1px solid $bright-gray;
    margin: 4px 10px;

    & + .item:global {
        color: $portland-orange;
    }
}

.envContainer {
    position: relative;
    margin-bottom: 16px;

    &:global(:hover) .card {
        border-color: $sky-blue;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.more {
    position: absolute;
    top: 12px;
    right: 8px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    background-color: $white;

    &:hover {
        color: $brandeis-blue;
    }

    &:active {
        color: $brandeis-blue;
    }
}

.addNew {
    width: 32px;
    height: 32px;
    background-color: transparent;
    font-size: 24px;

    &:hover {
        color: rgba($gunmetal, 0.8);
        background-color: $bright-gray;
    }

    &:active {
        background-color: $brandeis-blue;
        color: white;
    }
}

.warningText {
    color: $silver-sand;
}

.formContainer {
    padding: 14px 14px;
    background: white;
    border: 2px solid $popsicle-blue;
    border-radius: 4px;

    &:global.invalid {
        border-color: $faded-pink;
    }

    &:global.delete {
        border-color: $faded-pink;
    }

    &:last-child {
        margin-top: 16px;
    }

    &:first-child {
        margin-top: 0;
    }
}

.heading {
    margin: 0;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'cpsp' on;
    color: $gunmetal;
}

.input {
    width: 100%;
    height: 32px;
    background: rgba($silver-sand, 0.2);
    border: 1px solid $silver-sand;
    border-radius: 4px;
    padding: 8px 12px;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $gunmetal;
    outline: none;

    &:active,
    &:focus {
        border-color: $brandeis-blue;
        background-color: white;
    }

    &:hover {
        border-color: $blueberry;
    }
}

.idBox {
    display: flex;
    flex-direction: column;
    position: relative;

    i {
        color: $malachite;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 8px;
        right: 8px;
    }
}

.inputName {
    padding-right: 28px;
}

.inputGroup,
.idField {
    width: 100%;
}

.invalid {
    border: 1px solid $light-salmon;
    background-color: rgba($light-salmon, 0.2);
}

.error {
    color: $portland-orange;
    display: flex;
    margin-top: 2px;
}

.buttonsContainer {
    display: flex;
    margin-top: 16px;
}

.addButtonBig {
    width: 100%;
    margin-top: 16px;
    padding: 26px 16px;
    border: 2px solid $bright-gray;
    background-color: $white;
    color: rgba($gunmetal, 0.33);

    &:hover {
        border-color: $blueberry;
        color: $blueberry;
        background-color: $white;
    }
}

.label {
    display: flex;
    font-family: $overpass-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba($dark-silver, 0.7);
    opacity: 0.7;
    margin-right: 8px;
    margin-bottom: 8px;
}

.labelContainer {
    display: flex;
    margin-bottom: 8px;
}

.fieldText {
    font-family: $overpass-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: black;
}

.spinner {
    position: absolute;
    top: 8px;
    right: 8px;
}