@use "./variables" as *;

.sm {
    font-family: $icons-font;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;

    &::before {
        --webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

$icons: (
        actions-drag: "\e899",
        actions-more-2: "\e96a",
        actions-more: "\e900",
        activity: "\e901",
        alert: "\e902",
        align-center: "\e903",
        align-left: "\e904",
        align-right: "\e905",
        archive: "\e906",
        arrow-down: "\e907",
        arrow-left: "\e908",
        arrow-right: "\e909",
        arrow-up: "\e90a",
        attachment: "\e90b",
        bar-chart: "\e90c",
        bold: "\e90d",
        book-open: "\e90f",
        bookmark: "\e90e",
        briefcase: "\e910",
        broken-inheritance: "\e896",
        c-sharp: "\e97d",
        calendar: "\e911",
        check-all: "\e895",
        check-circle: "\e97f",
        check: "\e912",
        chevron-down: "\e913",
        chevron-left: "\e914",
        chevron-right: "\e915",
        chevron-up: "\e916",
        clipboard: "\e917",
        clock: "\e918",
        close: "\e919",
        cloud: "\e91a",
        code-cell-off: "\e96d",
        code-cell-on: "\e96e",
        code: "\e91b",
        comment: "\e91c",
        copy: "\e91d",
        csv-file: "\e971",
        cut: "\e91e",
        database: "\e91f",
        document: "\e920",
        download-files: "\e976",
        draggable-for-table: "\e898",
        edit: "\e921",
        enviroment: "\e922",
        excel-file: "\e977",
        explorer: "\e923",
        external-link: "\e924",
        fetch: "\e978",
        file-text: "\e925",
        filter21: "\e982",
        filter2: "\e897",
        filter: "\e926",
        folder-open: "\e927",
        folder: "\e96b",
        gift: "\e928",
        git-branch: "\e929",
        git-commit: "\e92a",
        git-pull: "\e92c",
        git-push: "\e92d",
        github: "\e92b",
        grid: "\e92e",
        headers: "\e92f",
        home: "\e974",
        idea: "\e930",
        image: "\e931",
        inbox: "\e932",
        info: "\e933",
        italic: "\e934",
        key: "\e894",
        laptop: "\e893",
        layout: "\e935",
        linear-chart: "\e984",
        link: "\e936",
        list-blocks: "\e938",
        list-numbered: "\e939",
        list: "\e937",
        lock: "\e93a",
        logs: "\e93b",
        mail: "\e93c",
        map-pin: "\e93d",
        maximize: "\e93e",
        menu: "\e93f",
        minimize: "\e940",
        minus-circle: "\e980",
        minus: "\e981",
        money: "\e892",
        moon: "\e985",
        morphy: "\e941",
        move: "\e891",
        notification: "\e942",
        outline: "\e96f",
        overview: "\e943",
        package: "\e944",
        panel-left: "\e945",
        panel-right: "\e946",
        paste: "\e947",
        pause: "\e948",
        phone: "\e949",
        pie-chart: "\e94a",
        pin: "\e94b",
        plus-circle: "\e94d",
        plus: "\e94c",
        power-bi-file: "\e979",
        print: "\e94e",
        prohibition: "\e972",
        push: "\e97a",
        python: "\e97e",
        redo: "\e94f",
        refresh: "\e950",
        rename: "\e973",
        repeat: "\e951",
        run-all: "\e953",
        run-circle: "\e954",
        run: "\e952",
        search: "\e955",
        settings: "\e956",
        shared: "\e957",
        sidebar-hide: "\e97b",
        sidebar-show: "\e97c",
        slice: "\e890",
        star: "\e958",
        start-session: "\e959",
        stop-circle: "\e95b",
        stop: "\e95a",
        strike-through: "\e95c",
        sun: "\e986",
        systemorph-fill: "\e96c",
        systemorph-line: "\e95d",
        table: "\e95e",
        team: "\e95f",
        text: "\e960",
        thumbs-down: "\e961",
        thumbs-up: "\e962",
        trash: "\e963",
        underline: "\e964",
        undo: "\e965",
        upload-cloud: "\e966",
        upload-files: "\e967",
        user-plus: "\e975",
        user: "\e968",
        vertical-resize: "\e889",
        view: "\e969",
        waterfall-chart: "\e983",
        x-circle: "\e970",
);
@each $i, $c in $icons {
    .sm-#{$i}:before {
        content: $c;
    }
}

.sm-paste .path1:before {
    content: "\e93d";
    color: rgb(41, 43, 54);
}

.sm-paste .path2:before {
    content: "\e93e";
    margin-left: -1em;
    color: rgb(41, 43, 54);
}

.sm-paste .path3:before {
    content: "\e93f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.sm-paste .path4:before {
    content: "\e940";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.sm-paste .path5:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(41, 43, 54);
}