//// Colors
$background-color: #e5e5e5;
// Grays
$black: #000;
$gunmetal: #292b36;
$bright-gunmetal: #f4f4f5; // ??
$light-gunmetal: #3e404a; // ??
$dark-silver: #706f6f;
$silver-sand: #c6c6c6;
$bright-gray: #ededed;
$light-gray: #f4f4f4;
$white: white;
// Blues
$sm-blue: #0171ff;
$silver-sand: #c6c6c6;
$dark-silver: #706f6f;
$white: white;
// Blues
$brandeis-blue: #0171ff;
$blueberry: #4d9cff;
$sky-blue: #80b8ff;
$popsicle-blue: #cce3ff;
$popsicle-blue-light: #e5f1ff;
// Teals
$sea-serpent: #5bc0de;
$midsommer-blue: #81d2e8;
$blizzard-blue: #abe3f2;
$pool-water: #d9f7ff;
$blizzard-blue: #abe3f2;
// Reds
$portland-orange: #f75435;
$light-salmon: #ff937e;
$melon: #ffbfb3;
$faded-pink: #ffdfd9;
$lilac-soap: #dabdf2;
$cotton-candy: #ffbfe2;
// Greens
$malachite: #03cb5d;
$fluorite: #67e5a0;
$sea-foam-green: #99eabe;
$last-sunray: #ccf5de;
// Yellows
$american-yellow: #f3b200;
$sunglow: #ffc933;
$flavescent: #ffe18f;
$blanched-almond: #fff1cc;
// Pinks
$royal-red: #de007a;
$princess-perfume: #f78ac6;
$cotton-candy: #ffbfe2;
$mimi-pink: #ffd4eb;
// Purples
$lavender-indigo: #a25bde;
$bright-lavender: #c394e9;
$lilac-soap: #dabdf2;
$lavender: #f3e4ff;
//// Fonts
$american-yellow: #f3b200;
$sunglow: #ffc933;
$flavescent: #ffe18f;
// Fonts
$icons-font: sm-icons;
$overpass-font: overpass, "sans-serif";
$roboto-font: roboto, "sans-serif";
// Sizes
$header-height: 64px;
$global-radius: 4px;
$avatar-bgs: ($blueberry, $light-salmon, $sunglow, $midsommer-blue, $bright-lavender, $princess-perfume, $fluorite);