@namespace MeshWeaver.Portal.Shared.Web.Components

<div class="meshweaver-logo">
    <svg viewBox="0 0 750 750" width="@Width" height="@Height">
        <!-- Primary color paths -->
        <g class="primary-color">
            <path d="M415.41 392.39L388.85 410.45L429.04 466.72L475.29 435.17L415.41 392.39" />
            <path d="M429.32 311.05L450.02 280.76L403.32 219.75L370.41 267.49L429.32 311.05" />
            <path d="M334.85 334.85L374.81 390.8L387.4 372.38L334.85 334.85" />
            <path d="M530.42 385.82L494.35 338.68L479.94 348.49L530.42 385.82" />
            <path d="M257.07 431.89L362.17 512.33L368.99 507.67L284.03 392.78L257.07 431.89" />
            <path d="M400.67 216.28L346.71 145.78L286.81 205.68L358.36 258.59L400.67 216.28" />
            <path d="M153.79 581.69L197.06 624.95L290.29 561.36L208.17 502.82L153.79 581.69" />
            <path d="M32.3 460.19L94.53 522.42L153.27 463.68L80.61 411.88L32.3 460.19" />
            <path d="M258.59 358.36L205.68 286.81L145.78 346.71L216.28 400.67L258.59 358.36" />
            <path d="M258.1 685.99L322.11 750L418.99 653.12L344.26 599.84L258.1 685.99" />
            <path d="M494.91 449.18L449.18 494.91L502.52 569.59L569.59 502.52L494.91 449.18" />
            <path d="M750 322.11L656.36 228.47L562.71 292.18L653.12 418.99L750 322.11" />
            <path d="M555.02 127.12L460.19 32.3L411.88 80.61L501.19 205.89L555.02 127.12" />
            <path d="M257.07 431.89L208.17 502.82L290.29 561.36L362.17 512.33L257.07 431.89" />
            <path d="M530.42 385.82L479.94 348.49L415.41 392.39L475.29 435.17L581.09 363L494.91 449.18L569.59 502.52L653.12 418.99L562.71 292.18L494.35 338.68L530.42 385.82" />
            <path d="M358.36 258.59L286.81 205.68L205.68 286.81L258.59 358.36L358.36 258.59" />
        </g>

        <!-- Secondary color paths -->
        <g class="secondary-color">
            <path d="M416.93 200.02L400.67 216.28L403.32 219.75L416.93 200.02" />
            <path d="M370.41 267.49L358.36 258.59L258.59 358.36L284.03 392.78L370.41 267.49" />
            <path d="M499.6 710.59L560.06 650.14L502.52 569.59L418.99 653.12L499.6 710.59" />
            <path d="M650.14 560.06L710.59 499.6L653.12 418.99L569.59 502.52L650.14 560.06" />
            <path d="M387.4 372.38L415.41 392.39L479.94 348.49L429.32 311.05L387.4 372.38" />
            <path d="M429.04 466.72L368.99 507.67L385.82 530.42L362.17 512.33L290.29 561.36L344.26 599.84L449.18 494.91L429.04 466.72" />
            <path d="M337.51 445.38L374.81 390.8L334.85 334.85L387.4 372.38L429.32 311.05L370.41 267.49L284.03 392.78L368.99 507.67L429.04 466.72L388.85 410.45L337.51 445.38" />
            <path d="M344.26 599.84L418.99 653.12L502.52 569.59L449.18 494.91L344.26 599.84" />
            <path d="M337.51 445.38L388.85 410.45L374.81 390.8L337.51 445.38" />
            <path d="M475.29 435.17L494.91 449.18L581.09 363L475.29 435.17" />
            <path d="M67.56 286.84L0 354.41L80.61 411.88L145.78 346.71L67.56 286.84" />
            <path d="M207.43 146.98L146.98 207.43L205.68 286.81L286.81 205.68L207.43 146.98" />
            <path d="M354.41 0L286.84 67.56L346.71 145.78L411.88 80.61L354.41 0" />
            <path d="M216.28 400.67L153.27 463.68L208.17 502.82L257.07 431.89L216.28 400.67" />
            <path d="M494.35 338.68L562.71 292.18L501.19 205.89L450.02 280.76L494.35 338.68" />
            <path d="M416.93 200.02L403.32 219.75L450.02 280.76L501.19 205.89L411.88 80.61L346.71 145.78L400.67 216.28L416.93 200.02" />
            <path d="M145.78 346.71L80.61 411.88L153.27 463.68L216.28 400.67L145.78 346.71" />
        </g>
    </svg>
</div>

@code {
    [Parameter]
    public string Width { get; set; } = "36px";

    [Parameter]
    public string Height { get; set; } = "36px";
}

