@use "@open-smc/ui-kit/theme/variables" as *;

.main {
    display: flex;
    overflow: hidden;
}

.content {
    flex-grow: 1;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    overflow-y: auto;

    :global(> .p-blockui-container),
    :global(> .p-blockui-container .p-blockui-container) {
        height: 100%;
    }
}

.blockUi {
    background-color: rgba($gunmetal, 0.2);
}

@media print {
    .main {
        height: auto !important;
        display: block !important;
        overflow: visible !important;
    }
    .content {
        overflow: visible !important;
        height: auto !important;
    }
}