@use "@open-smc/ui-kit/src/theme/variables" as *;
// @use "~ag-grid-community/src/styles/ag-grid" as *;
@use "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin" as *;

.ag-theme-alpine {
    .ag-layout-auto-height .ag-center-cols-container,
    .ag-layout-auto-height .ag-center-cols-clipper {
        min-height: unset !important;
    }

    @include ag-theme-alpine((
        // use theme parameters where possible
            font-size: 13px,
            data-color: $gunmetal,
            font-family: $roboto-font
    ));

    .ag-cell-inline-editing {
        height: 32px;
        background-color: white;
        box-shadow: none;
    }

    .ag-ltr .ag-cell-range-single-cell {
        height: 100%;
    }

    .ag-cell-inline-editing {
        height: 100%;
    }

    .ag-cell-inline-editing {
        border-color: transparent !important;
    }
}
