@using MeshWeaver.Blazor.Pages
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="MeshWeaver.Portal.styles.css" rel="stylesheet" />
    <link href="_content/MeshWeaver.Blazor/fonts.css" rel="stylesheet" />
    <link href="_content/MeshWeaver.Blazor/standard-page-layout.css" rel="stylesheet" />
    @if (Mode == DesignThemeModes.Light)
    {
        <link href="_content/MeshWeaver.Blazor/node_modules/highlight.js/styles/github.min.css" rel="stylesheet" />
    }
    else
    {
        <link href="_content/MeshWeaver.Blazor/node_modules/highlight.js/styles/github-dark.min.css" rel="stylesheet" />
    }

    <link href="_content/MeshWeaver.Blazor/node_modules/@@primer/css/dist/markdown.css" rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />/>
</head>

<body>
    <FluentDesignTheme StorageName="theme" @bind-Mode="@Mode"/>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

</body>

</html>
@code {
    private DesignThemeModes Mode;
}