@use "@open-smc/ui-kit/src/theme/variables" as *;

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin: 0;
    font-family: $overpass-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $gunmetal;
}

.container {
    display: flex;
}

.closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    width: 32px;
    height: 32px;
    font-size: 24px;
    background-color: $white;

    &:hover {
        background-color: $bright-gray;
    }

    &:active {
        background-color: $brandeis-blue;
        color: $white;
    }
}