@use "@open-smc/ui-kit/theme/icons" as *;
@use "@open-smc/ui-kit/theme/fonts" as *;
@use "@open-smc/ui-kit/theme/variables" as *;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    background-color: white;
}

body {
    margin: 0;
    font-family: $roboto-font;
    box-sizing: border-box;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    color: $gunmetal;
    overflow: hidden;
}
