@use "@open-smc/ui-kit/theme/variables" as *;

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 1em 0 !important;
}

.gridSample {
    :global(.skin-GridLayout) {
        outline: 2px dashed red;

        > * {
            outline: 1px dashed red;
        }
    }
}
