@page "/"


<h1>MeshNodes</h1>

Here comes a list of <a href="/app/Catalog/Catalog">Mesh nodes</a>.

<h2>Demo</h2>
Link to the <a href="/app/Demo/Counter">Counter</a>

<h2>Northwind</h2>
Then link to the <a href="/app/Northwind/Doc/Embedded/MeshWeaver%9YNorthwind%9YViewModel/AnnualReportSummary%9Ymd">Sales
    Dashboard</a>

@code {

}
