# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: OpenSmc Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    name: Build and Run Unit tests

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -p:CIRun=true
    - name: Run Tests
      continue-on-error: true
      run: dotnet test --no-build --verbosity normal -l:trx -- RunConfiguration.TestSessionTimeout=60000
    - name: Publish Test Results
#      uses: EnricoMi/publish-unit-test-result-action/composite@v2
      uses: EnricoMi/publish-unit-test-result-action@v2.12.0
      if: always()
      with:
        action_fail: true
        # File patterns of test result files. Relative paths are known to work best, while the composite action also works with absolute paths. Supports "*", "**", "?", and "[]" character ranges. Use multiline string for multiple patterns. Patterns starting with "!" exclude the matching files. There have to be at least one pattern starting without a "!".
        files: |
          test/**/*.trx
    - name: "Upload artifact: Test Results"
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: testResults
        path: test/**/*.trx
        compression-level: 9
        retention-days: 15
